
        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 100vw;height: 644.54vw;overflow: hidden
        }
      

        .box_1 {
          background-color: rgba(255,255,255,1.000000);padding: 3.73vw 0.26vw 0 0.53vw
        }
      

        .block_1 {
          margin: 0 3.46vw 0 5.06vw
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(0,0,0,1);font-size: 4vw;letter-spacing: -0.30000001192092896px;font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.8vw
        }
      

        .thumbnail_1 {
          width: 4.54vw;height: 2.94vw;margin: 1.06vw 0 0.8vw 58.4vw
        }
      

        .thumbnail_2 {
          width: 4vw;height: 2.94vw;margin: 0.8vw 0 1.06vw 1.33vw
        }
      

        .image_1 {
          width: 6.67vw;height: 3.2vw;margin: 0.8vw 0 0.8vw 1.33vw
        }
      

        .nav-bar_1 {
          width: 99.2vw;margin-top: 2.4vw;padding: 0.8vw 40vw 0 0
        }
      

        .label_1 {
          width: 10.67vw;height: 11.74vw
        }
      

        .text_2 {
          overflow-wrap: break-word;color: rgba(0,0,0,0.9);font-size: 4.8vw;font-family: PingFangSC-Medium;font-weight: 500;text-align: center;white-space: nowrap;line-height: 4.8vw;margin-top: 3.47vw
        }
      

        .box_2 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;align-self: center;margin-top: 2.67vw;width: 94.67vw;position: relative;padding: 5.6vw 2.93vw 3.73vw 0
        }
      

        .group_1 {
          width: 55.74vw;margin-right: 36vw
        }
      

        .section_1 {
          background-color: rgba(255,129,26,1.000000);border-radius: 0px 28px 28px 0px;width: 1.07vw;height: 4.8vw;margin: 0.53vw 0 0.53vw 0
        }
      

        .text_3 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4.26vw;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 5.87vw
        }
      

        .text-wrapper_1 {
          width: 32.54vw;margin: 2.93vw 54.66vw 0 4.53vw
        }
      

        .text_4 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 9.33vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: left;white-space: nowrap;line-height: 10.94vw
        }
      

        .text_5 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 4.54vw;margin-top: 5.34vw
        }
      

        .group_2 {
          margin: 3.73vw 45.33vw 0 3.73vw
        }
      

        .section_2 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;padding: 2.13vw 11.73vw 2.4vw 11.73vw
        }
      

        .text-group_1 {
          
        }
      

        .text_6 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 5.86vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 6.94vw;align-self: center
        }
      

        .text_7 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.54vw;margin-top: 0.54vw
        }
      

        .group_3 {
          margin: 2.93vw 0 0 3.73vw
        }
      

        .grid_1 {
          width: 88vw;height: 37.07vw;flex-wrap: wrap
        }
      

        .text-group_2-0 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 42.67vw;height: 16.54vw;margin: 0 2.66vw 4vw 0;padding: 2.4vw 11.73vw 2.13vw 11.73vw
        }
      

        .text_8-0 {
          width: 5.87vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 5.86vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 6.94vw;align-self: center
        }
      

        .text_9-0 {
          width: 28.8vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.54vw;margin-top: 0.54vw
        }
      

        .text-group_2-1 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 42.67vw;height: 16.54vw;margin: 0 2.66vw 4vw 0;padding: 2.4vw 11.73vw 2.13vw 11.73vw;margin-right: 0
        }
      

        .text_8-1 {
          width: 5.87vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 5.86vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 6.94vw;align-self: center
        }
      

        .text_9-1 {
          width: 28.8vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.54vw;margin-top: 0.54vw
        }
      

        .text-group_2-2 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 42.67vw;height: 16.54vw;margin: 0 2.66vw 4vw 0;padding: 2.4vw 11.73vw 2.13vw 11.73vw;margin-bottom: 0
        }
      

        .text_8-2 {
          width: 5.87vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 5.86vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 6.94vw;align-self: center
        }
      

        .text_9-2 {
          width: 28.8vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.54vw;margin-top: 0.54vw
        }
      

        .text-group_2-3 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 42.67vw;height: 16.54vw;margin: 0 2.66vw 4vw 0;padding: 2.4vw 11.73vw 2.13vw 11.73vw;margin-right: 0;margin-bottom: 0
        }
      

        .text_8-3 {
          width: 5.87vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 5.86vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 6.94vw;align-self: center
        }
      

        .text_9-3 {
          width: 28.8vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.54vw;margin-top: 0.54vw
        }
      

        .group_4 {
          height: 46.4vw;background: url(./img/SketchPng9af6654211d5e5688cfd60e81248f4065e254142109d390a4443662c3287e7fb.png) 100% no-repeat;background-size: 100% 100%;width: 46.4vw;position: absolute;left: 46.4vw;top: -0.53vw;padding: 29.6vw 1.06vw 0.26vw 2.66vw
        }
      

        .box_3 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;padding: 2.13vw 10.13vw 2.4vw 10.13vw
        }
      

        .text-group_3 {
          
        }
      

        .text_10 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 5.86vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 6.94vw;align-self: center
        }
      

        .text_11 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.54vw;margin-top: 0.54vw
        }
      

        .box_4 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;width: 94.67vw;align-self: center;margin-top: 3.2vw;padding-bottom: 5.87vw
        }
      

        .group_5 {
          background: url(./img/SketchPng5e9206c79c0ef724fe22803e9050a10f8cd9884b39a22b274e9ab11e472915ce.png) 100% no-repeat;background-size: 100% 100%;padding: 4.8vw 4vw 0 4vw
        }
      

        .text-group_4 {
          margin-right: 25.87vw
        }
      

        .text_12 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4.26vw;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 5.87vw;margin-right: 43.74vw
        }
      

        .text_13 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.34vw;margin-top: 1.34vw
        }
      

        .group_6 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 3.74vw
        }
      

        .group_7 {
          
        }
      

        .box_5 {
          padding: 4vw 4vw 0 4vw
        }
      

        .text-wrapper_2 {
          width: 86.67vw
        }
      

        .text_14 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_15 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .section_3 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 3.47vw
        }
      

        .box_6 {
          padding: 4vw 4vw 0 4vw
        }
      

        .text-wrapper_3 {
          width: 86.67vw
        }
      

        .text_16 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_17 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .block_2 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 3.47vw
        }
      

        .box_7 {
          padding: 4vw 4vw 0 4vw
        }
      

        .text-wrapper_4 {
          width: 86.67vw
        }
      

        .text_18 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_19 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .section_4 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 3.47vw
        }
      

        .box_8 {
          padding: 4vw 4vw 0 4vw
        }
      

        .group_8 {
          width: 86.67vw
        }
      

        .text-wrapper_5 {
          width: 32.8vw;height: 5.6vw;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_20 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_21 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_22 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Medium;font-weight: 500;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .group_9 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 3.47vw
        }
      

        .group_10 {
          padding: 4vw 4vw 0 4vw
        }
      

        .section_5 {
          width: 86.67vw
        }
      

        .text-wrapper_6 {
          width: 46.14vw;height: 5.6vw;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_23 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_24 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .image-text_1 {
          width: 16.8vw
        }
      

        .text-group_5 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .thumbnail_3 {
          width: 4.8vw;height: 4.8vw;margin: 0.53vw 0 0.26vw 0
        }
      

        .section_6 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 3.47vw
        }
      

        .group_11 {
          padding: 4vw 4vw 0 4vw
        }
      

        .section_7 {
          width: 86.67vw
        }
      

        .text-wrapper_7 {
          width: 24.8vw;height: 5.6vw;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_25 {
          overflow-wrap: break-word;color: rgba(255,0,0,0.90);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_26 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_27 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .section_8 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 3.47vw
        }
      

        .group_12 {
          padding: 4vw 4vw 0 4vw
        }
      

        .text_28 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw;margin-right: 62.67vw
        }
      

        .block_3 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;margin-top: 2.94vw;padding: 3.73vw 4vw 4vw 4vw
        }
      

        .text-wrapper_8 {
          margin-right: 66.67vw
        }
      

        .text_29 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text-wrapper_9 {
          margin: 18.66vw 0 0 67.73vw
        }
      

        .text_30 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.34vw
        }
      

        .block_4 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 4.27vw
        }
      

        .text-wrapper_10 {
          width: 26.14vw;height: 5.6vw;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw;margin: 4vw 64.53vw 0 4vw
        }
      

        .text_31 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_32 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .group_13 {
          width: 86.67vw;align-self: center;margin-top: 3.47vw
        }
      

        .text-wrapper_11 {
          background-color: rgba(244,244,244,1.000000);border-radius: 15px;padding: 1.06vw 18.66vw 1.33vw 18.66vw
        }
      

        .text_33 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.6vw
        }
      

        .button_1 {
          background-color: rgba(254,238,231,1.000000);border-radius: 15px;border: 1px solid rgba(255,129,26,1);padding: 0.8vw 18.4vw 1.06vw 18.4vw
        }
      

        .text_34 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.6vw
        }
      

        .box_9 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;width: 94.67vw;align-self: center;margin-top: 4vw;padding-bottom: 6.4vw
        }
      

        .box_10 {
          background: url(./img/SketchPng5e9206c79c0ef724fe22803e9050a10f8cd9884b39a22b274e9ab11e472915ce.png) 100% no-repeat;background-size: 100% 100%;padding: 4.8vw 4vw 0 4vw
        }
      

        .text-group_6 {
          margin-right: 54.4vw
        }
      

        .text_35 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4.26vw;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 5.87vw;margin-right: 15.2vw
        }
      

        .text_36 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.34vw;margin-top: 1.34vw
        }
      

        .block_5 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 3.74vw
        }
      

        .box_11 {
          padding: 4vw 19.46vw 3.73vw 4vw
        }
      

        .text-wrapper_12 {
          width: 71.2vw;height: 5.6vw;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_37 {
          overflow-wrap: break-word;color: rgba(255,0,0,0.90);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_38 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .box_12 {
          margin: 0 22.66vw 0 6.13vw
        }
      

        .thumbnail_4 {
          width: 5.34vw;height: 5.07vw;margin-bottom: 0.27vw
        }
      

        .thumbnail_5 {
          width: 5.34vw;height: 5.07vw;margin: 0 0 0.26vw 6.66vw
        }
      

        .thumbnail_6 {
          width: 5.34vw;height: 5.07vw;margin: 0 0 0.26vw 6.93vw
        }
      

        .thumbnail_7 {
          width: 5.34vw;height: 5.07vw;margin: 0 0 0.26vw 6.66vw
        }
      

        .thumbnail_8 {
          width: 5.34vw;height: 5.07vw;margin: 0 0 0.26vw 6.66vw
        }
      

        .text_39 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.34vw;margin-left: 6.14vw
        }
      

        .box_13 {
          margin-top: 3.2vw;padding: 4vw 19.46vw 3.73vw 4vw
        }
      

        .text-wrapper_13 {
          width: 71.2vw;height: 5.6vw;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_40 {
          overflow-wrap: break-word;color: rgba(255,0,0,0.90);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_41 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .rate_1 {
          width: 53.6vw;height: 5.07vw;margin: 0 34.93vw 0 6.13vw
        }
      

        .box_14 {
          margin-top: 3.2vw;padding: 4vw 19.46vw 3.73vw 4vw
        }
      

        .text-wrapper_14 {
          width: 71.2vw;height: 5.6vw;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_42 {
          overflow-wrap: break-word;color: rgba(255,0,0,0.90);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_43 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .rate_2 {
          width: 53.6vw;height: 5.07vw;margin: 0 34.93vw 0 6.13vw
        }
      

        .box_15 {
          margin-top: 3.47vw;padding: 4vw 19.46vw 3.73vw 4vw
        }
      

        .text-wrapper_15 {
          width: 71.2vw;height: 5.6vw;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_44 {
          overflow-wrap: break-word;color: rgba(255,0,0,0.90);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_45 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .rate_3 {
          width: 53.6vw;height: 5.07vw;margin: 0 34.93vw 0 6.13vw
        }
      

        .box_16 {
          margin-top: 4vw;padding: 4vw 4vw 0 4vw
        }
      

        .text-wrapper_16 {
          width: 86.67vw
        }
      

        .text_46 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_47 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .group_14 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 3.47vw
        }
      

        .text_48 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw;margin: 4vw 62.66vw 0 4vw
        }
      

        .box_17 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;align-self: center;margin-top: 2.94vw;width: 86.67vw;padding: 3.73vw 4vw 4vw 4vw
        }
      

        .text-wrapper_17 {
          margin-right: 38.67vw
        }
      

        .text_49 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text-wrapper_18 {
          margin: 18.66vw 0 0 66.13vw
        }
      

        .text_50 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.34vw
        }
      

        .box_18 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;width: 94.67vw;align-self: center;margin-top: 4vw;padding-bottom: 5.6vw
        }
      

        .box_19 {
          background: url(./img/SketchPng49cf682108fe0871910d38e0bd4c050ca552adc3c19d4d13cf0ac533aa2761d0.png) 100% no-repeat;background-size: 100% 100%;padding: 4.8vw 4vw 0 4vw
        }
      

        .text-group_7 {
          margin-right: 2.14vw
        }
      

        .text_51 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4.26vw;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 5.87vw;margin-right: 67.47vw
        }
      

        .paragraph_1 {
          width: 84.54vw;height: 10.67vw;overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 5.34vw;margin-top: 1.34vw
        }
      

        .group_15 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 4vw
        }
      

        .button_2 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;border: 1px 2,4 rgba(187,187,187,1);align-self: center;margin-top: 4vw;width: 86.67vw;padding: 5.06vw 33.6vw 4.8vw 33.86vw
        }
      

        .text_52 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.34vw
        }
      

        .paragraph_2 {
          width: 86.14vw;height: 9.07vw;overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 4.54vw;margin: 4vw 4.53vw 0 4vw
        }
      

        .box_20 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;width: 94.67vw;align-self: center;margin-top: 4vw;padding-bottom: 4.27vw
        }
      

        .group_16 {
          background: url(./img/SketchPng5e9206c79c0ef724fe22803e9050a10f8cd9884b39a22b274e9ab11e472915ce.png) 100% no-repeat;background-size: 100% 100%;padding: 4.8vw 4vw 0 4vw
        }
      

        .box_21 {
          width: 86.67vw
        }
      

        .text-group_8 {
          
        }
      

        .text_53 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4.26vw;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 5.87vw;margin-right: 21.34vw
        }
      

        .text_54 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.34vw;margin-top: 1.34vw
        }
      

        .button_3 {
          background-image: linear-gradient(90deg, rgba(254,199,117,1.000000) 0, rgba(255,129,26,1.000000) 100.000000%);border-radius: 40px;margin: 1.6vw 0 2.4vw 0;padding: 1.33vw 4.53vw 1.33vw 4.53vw
        }
      

        .text_55 {
          overflow-wrap: break-word;color: rgba(255,255,255,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.34vw
        }
      

        .box_22 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 3.74vw
        }
      

        .group_17 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;align-self: center;margin-top: 3.47vw;width: 86.67vw;padding: 3.73vw 4vw 4vw 3.73vw
        }
      

        .text-wrapper_19 {
          margin-right: 34.94vw
        }
      

        .text_56 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text-wrapper_20 {
          margin: 18.66vw 0 0 65.86vw
        }
      

        .text_57 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.34vw
        }
      

        .box_23 {
          box-shadow: 0px -3px 4px 0px rgba(0,0,0,0.050000);background-color: rgba(255,255,255,1.000000);width: 100vw;margin-top: 2.14vw;padding: 4vw 2.66vw 4vw 2.66vw
        }
      

        .button_4 {
          background-color: rgba(255,255,255,1.000000);border-radius: 40px;border: 1px solid rgba(255,129,26,1);padding: 2.13vw 18.93vw 2.13vw 18.4vw
        }
      

        .text_58 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 4.26vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.87vw
        }
      

        .button_5 {
          background-image: linear-gradient(90deg, rgba(254,199,117,1.000000) 0, rgba(255,129,26,1.000000) 100.000000%);border-radius: 40px;padding: 2.13vw 18.66vw 2.13vw 18.66vw
        }
      

        .text_59 {
          overflow-wrap: break-word;color: rgba(255,255,255,1);font-size: 4.26vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.87vw
        }
      