
        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 375.00px;height: 2223.00px;overflow: hidden
        }
      

        .group_1 {
          background-color: rgba(255,255,255,1.000000);padding: 14px 14px 0 0
        }
      

        .block_1 {
          margin-left: 21.00px
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(0,0,0,1);font-size: 15.00px;letter-spacing: -0.30000001192092896px;font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 18.00px
        }
      

        .thumbnail_1 {
          width: 17.00px;height: 11.00px;margin: 4px 0 3px 219px
        }
      

        .thumbnail_2 {
          width: 15.00px;height: 11.00px;margin: 3px 0 4px 5px
        }
      

        .image_1 {
          width: 25.00px;height: 12.00px;margin: 3px 0 3px 5px
        }
      

        .block_2 {
          width: 224.00px;margin: 12px 137px 0 0
        }
      

        .label_1 {
          width: 40.00px;height: 44.00px
        }
      

        .text_2 {
          overflow-wrap: break-word;color: rgba(0,0,0,0.9);font-size: 18.00px;font-family: PingFangSC-Medium;font-weight: 500;text-align: center;white-space: nowrap;line-height: 18.00px;margin-top: 13.00px
        }
      

        .group_2 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;width: 355.00px;align-self: center;margin-top: 12.00px
        }
      

        .box_1 {
          background: url(./img/SketchPnge4edf23d978dd525e4f6bc575b120e6159ead733da65916dbce7fcd01fd5140e.png) 100% no-repeat;background-size: 100% 100%;padding: 18px 15px 0 15px
        }
      

        .text_3 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 16.00px;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 22.00px;margin-right: 229.00px
        }
      

        .box_2 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 17.00px
        }
      

        .list_1 {
          height: 150.00px
        }
      

        .list-items_1-0 {
          padding: 15px 15px 0 15px
        }
      

        .group_3-0 {
          width: 325.00px
        }
      

        .text-wrapper_1-0 {
          width: 53.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_4-0 {
          width: 68.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_5-0 {
          width: 68.00px;overflow-wrap: break-word;font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px;color: rgba(51,51,51,1.000000)
        }
      

        .image-text_1-0 {
          width: 63.00px
        }
      

        .text-group_1-0 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_3-0 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .group_4-0 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .list-items_1-1 {
          padding: 15px 15px 0 15px
        }
      

        .group_3-1 {
          width: 325.00px
        }
      

        .text-wrapper_1-1 {
          width: 53.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_4-1 {
          width: 68.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_5-1 {
          width: 68.00px;overflow-wrap: break-word;font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px;color: rgba(51,51,51,1.000000)
        }
      

        .image-text_1-1 {
          width: 63.00px
        }
      

        .text-group_1-1 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_3-1 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .group_4-1 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .list-items_1-2 {
          padding: 15px 15px 0 15px
        }
      

        .group_3-2 {
          width: 325.00px
        }
      

        .text-wrapper_1-2 {
          width: 53.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_4-2 {
          width: 68.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_5-2 {
          width: 68.00px;overflow-wrap: break-word;font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px;color: rgba(153,153,153,1.000000)
        }
      

        .image-text_1-2 {
          width: 63.00px
        }
      

        .text-group_1-2 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_3-2 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .group_4-2 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .box_3 {
          padding: 15px 15px 0 15px
        }
      

        .text-wrapper_2 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px;margin-right: 257.00px
        }
      

        .text_6 {
          overflow-wrap: break-word;color: rgba(255,0,0,0.90);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_7 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .box_4 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;margin-top: 11.00px;padding: 14px 15px 10px 15px
        }
      

        .text-wrapper_3 {
          margin-right: 250.00px
        }
      

        .text_8 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text-wrapper_4 {
          margin: 11px 0 0 262px
        }
      

        .text_9 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 20.00px
        }
      

        .box_5 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 14.00px
        }
      

        .list_2 {
          height: 350.00px
        }
      

        .list-items_2-0 {
          padding: 15px 15px 0 15px
        }
      

        .section_1-0 {
          width: 325.00px
        }
      

        .text-wrapper_5-0 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_10-0 {
          width: 113.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_11-0 {
          width: 113.00px;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_2-0 {
          width: 63.00px
        }
      

        .text-group_2-0 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_4-0 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_2-0 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .list-items_2-1 {
          padding: 15px 15px 0 15px
        }
      

        .section_1-1 {
          width: 325.00px
        }
      

        .text-wrapper_5-1 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_10-1 {
          width: 113.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_11-1 {
          width: 113.00px;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_2-1 {
          width: 63.00px
        }
      

        .text-group_2-1 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_4-1 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_2-1 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .list-items_2-2 {
          padding: 15px 15px 0 15px
        }
      

        .section_1-2 {
          width: 325.00px
        }
      

        .text-wrapper_5-2 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_10-2 {
          width: 113.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_11-2 {
          width: 113.00px;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_2-2 {
          width: 63.00px
        }
      

        .text-group_2-2 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_4-2 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_2-2 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .list-items_2-3 {
          padding: 15px 15px 0 15px
        }
      

        .section_1-3 {
          width: 325.00px
        }
      

        .text-wrapper_5-3 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_10-3 {
          width: 113.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_11-3 {
          width: 113.00px;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_2-3 {
          width: 63.00px
        }
      

        .text-group_2-3 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_4-3 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_2-3 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .list-items_2-4 {
          padding: 15px 15px 0 15px
        }
      

        .section_1-4 {
          width: 325.00px
        }
      

        .text-wrapper_5-4 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_10-4 {
          width: 113.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_11-4 {
          width: 113.00px;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_2-4 {
          width: 63.00px
        }
      

        .text-group_2-4 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_4-4 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_2-4 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .list-items_2-5 {
          padding: 15px 15px 0 15px
        }
      

        .section_1-5 {
          width: 325.00px
        }
      

        .text-wrapper_5-5 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_10-5 {
          width: 113.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_11-5 {
          width: 113.00px;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_2-5 {
          width: 63.00px
        }
      

        .text-group_2-5 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_4-5 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_2-5 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .list-items_2-6 {
          padding: 15px 15px 0 15px
        }
      

        .section_1-6 {
          width: 325.00px
        }
      

        .text-wrapper_5-6 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_10-6 {
          width: 113.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_11-6 {
          width: 113.00px;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_2-6 {
          width: 63.00px
        }
      

        .text-group_2-6 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_4-6 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_2-6 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .box_6 {
          padding: 15px 15px 0 15px
        }
      

        .text-wrapper_6 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px;margin-right: 257.00px
        }
      

        .text_12 {
          overflow-wrap: break-word;color: rgba(255,0,0,0.90);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_13 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .section_3 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;margin-top: 11.00px;padding: 14px 15px 15px 15px
        }
      

        .text-wrapper_7 {
          margin-right: 250.00px
        }
      

        .text_14 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text-wrapper_8 {
          margin: 70px 0 0 254px
        }
      

        .text_15 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 20.00px
        }
      

        .section_4 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 16.00px
        }
      

        .list_3 {
          height: 150.00px
        }
      

        .list-items_3-0 {
          padding: 15px 15px 0 15px
        }
      

        .group_5-0 {
          width: 325.00px
        }
      

        .text-wrapper_9-0 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_16-0 {
          width: 143.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_17-0 {
          width: 143.00px;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_3-0 {
          width: 78.00px
        }
      

        .text-group_3-0 {
          width: 60.00px;overflow-wrap: break-word;font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px;color: rgba(51,51,51,1)
        }
      

        .thumbnail_5-0 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .group_6-0 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .list-items_3-1 {
          padding: 15px 15px 0 15px
        }
      

        .group_5-1 {
          width: 325.00px
        }
      

        .text-wrapper_9-1 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_16-1 {
          width: 143.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_17-1 {
          width: 143.00px;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_3-1 {
          width: 78.00px
        }
      

        .text-group_3-1 {
          width: 60.00px;overflow-wrap: break-word;font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px;color: rgba(153,153,153,1)
        }
      

        .thumbnail_5-1 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .group_6-1 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .list-items_3-2 {
          padding: 15px 15px 0 15px
        }
      

        .group_5-2 {
          width: 325.00px
        }
      

        .text-wrapper_9-2 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_16-2 {
          width: 143.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_17-2 {
          width: 143.00px;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_3-2 {
          width: 78.00px
        }
      

        .text-group_3-2 {
          width: 60.00px;overflow-wrap: break-word;font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px;color: rgba(153,153,153,1)
        }
      

        .thumbnail_5-2 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .group_6-2 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .box_7 {
          padding: 15px 15px 0 15px
        }
      

        .text_18 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px;margin-right: 265.00px
        }
      

        .box_8 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;margin-top: 11.00px;padding: 14px 15px 10px 15px
        }
      

        .text-wrapper_10 {
          margin-right: 250.00px
        }
      

        .text_19 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text-wrapper_11 {
          margin: 11px 0 0 262px
        }
      

        .text_20 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 20.00px
        }
      

        .box_9 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 14.00px
        }
      

        .box_10 {
          padding: 15px 15px 0 15px
        }
      

        .text_21 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px;margin-right: 265.00px
        }
      

        .group_7 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .list_4 {
          height: 100.00px
        }
      

        .list-items_4-0 {
          padding: 15px 15px 0 15px
        }
      

        .group_8-0 {
          width: 325.00px
        }
      

        .text-wrapper_12-0 {
          width: 98.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_22-0 {
          width: 173.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_23-0 {
          width: 173.00px;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_4-0 {
          width: 63.00px
        }
      

        .text-group_4-0 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_6-0 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .group_9-0 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .list-items_4-1 {
          padding: 15px 15px 0 15px
        }
      

        .group_8-1 {
          width: 325.00px
        }
      

        .text-wrapper_12-1 {
          width: 98.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_22-1 {
          width: 173.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_23-1 {
          width: 173.00px;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_4-1 {
          width: 63.00px
        }
      

        .text-group_4-1 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_6-1 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .group_9-1 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .group_10 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;width: 355.00px;align-self: center;margin-top: 14.00px;padding-bottom: 20.00px
        }
      

        .section_5 {
          background: url(./img/SketchPnge4edf23d978dd525e4f6bc575b120e6159ead733da65916dbce7fcd01fd5140e.png) 100% no-repeat;background-size: 100% 100%;padding: 18px 15px 0 15px
        }
      

        .text_24 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 16.00px;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 22.00px;margin-right: 261.00px
        }
      

        .block_3 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 17.00px
        }
      

        .text-wrapper_13 {
          padding: 15px 310px 14px 15px
        }
      

        .text_25 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .section_6 {
          background-color: rgba(243,243,243,1.000000);border-radius: 8px;position: relative;margin: 0 247px 0 15px;padding: 47px 35px 50px 28px
        }
      

        .box_11 {
          background-color: rgba(166,166,166,1.000000);border-radius: 1px;width: 30.00px;height: 2.00px
        }
      

        .image_2 {
          position: absolute;left: 42.00px;top: 33.00px;width: 2.00px;height: 30.00px
        }
      

        .section_7 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 18.00px
        }
      

        .section_8 {
          padding: 15px 15px 0 15px
        }
      

        .group_11 {
          width: 325.00px
        }
      

        .text-wrapper_14 {
          width: 38.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_26 {
          overflow-wrap: break-word;color: rgba(255,0,0,0.90);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_27 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_28 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .group_12 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .list_5 {
          height: 100.00px
        }
      

        .list-items_5-0 {
          padding: 15px 15px 0 15px
        }
      

        .section_9-0 {
          width: 325.00px
        }
      

        .text-wrapper_15-0 {
          width: 38.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_29-0 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_30-0 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_5-0 {
          width: 63.00px
        }
      

        .text-group_5-0 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_7-0 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_10-0 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .list-items_5-1 {
          padding: 15px 15px 0 15px
        }
      

        .section_9-1 {
          width: 325.00px
        }
      

        .text-wrapper_15-1 {
          width: 38.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_29-1 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_30-1 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_5-1 {
          width: 63.00px
        }
      

        .text-group_5-1 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_7-1 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_10-1 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .section_11 {
          padding: 15px 15px 0 15px
        }
      

        .text-wrapper_16 {
          width: 325.00px
        }
      

        .text_31 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_32 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .box_12 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 13.00px
        }
      

        .section_12 {
          padding: 15px 15px 0 15px
        }
      

        .text_33 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px;margin-right: 295.00px
        }
      

        .block_4 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;margin-top: 11.00px;padding: 14px 15px 15px 15px
        }
      

        .text-wrapper_17 {
          margin-right: 250.00px
        }
      

        .text_34 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text-wrapper_18 {
          margin: 70px 0 0 254px
        }
      

        .text_35 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 20.00px
        }
      

        .block_5 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 16.00px
        }
      

        .text-wrapper_19 {
          border-radius: 4px;border: 1px solid rgba(255,129,26,1);align-self: center;width: 325.00px;padding: 8px 112px 7px 113px
        }
      

        .text_36 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 20.00px
        }
      

        .group_13 {
          box-shadow: 0px -3px 4px 0px rgba(0,0,0,0.050000);background-color: rgba(255,255,255,1.000000);width: 375.00px;margin-top: 14.00px;padding: 15px 10px 15px 10px
        }
      

        .text-wrapper_20 {
          background-color: rgba(255,255,255,1.000000);border-radius: 40px;border: 1px solid rgba(255,129,26,1);padding: 8px 71px 8px 69px
        }
      

        .text_37 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 16.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 22.00px
        }
      

        .text-wrapper_21 {
          background: url(./img/SketchPng62abdbc7045770a0d1f896d0e1c3326a0d10ad342ec89ebca3bfbef110754d32.png) 100% no-repeat;background-size: 100% 100%;padding: 9px 71px 9px 71px
        }
      

        .text_38 {
          overflow-wrap: break-word;color: rgba(255,255,255,1);font-size: 16.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 22.00px
        }
      