
        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 375.00px;height: 812.00px;overflow: hidden
        }
      

        .group_1 {
          background-color: rgba(255,255,255,1.000000);padding: 14px 14px 0 0
        }
      

        .box_1 {
          margin-left: 21.00px
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(0,0,0,1);font-size: 15.00px;letter-spacing: -0.30000001192092896px;font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 18.00px
        }
      

        .thumbnail_1 {
          width: 17.00px;height: 11.00px;margin: 4px 0 3px 219px
        }
      

        .thumbnail_2 {
          width: 15.00px;height: 11.00px;margin: 3px 0 4px 5px
        }
      

        .image_1 {
          width: 25.00px;height: 12.00px;margin: 3px 0 3px 5px
        }
      

        .box_2 {
          width: 224.00px;margin: 12px 137px 0 0
        }
      

        .label_1 {
          width: 40.00px;height: 44.00px
        }
      

        .text_2 {
          overflow-wrap: break-word;color: rgba(0,0,0,0.9);font-size: 18.00px;font-family: PingFangSC-Medium;font-weight: 500;text-align: center;white-space: nowrap;line-height: 18.00px;margin-top: 13.00px
        }
      

        .group_2 {
          padding: 1px 0 13px 0
        }
      

        .group_3 {
          background-color: rgba(255,255,255,1.000000);margin-right: 1.00px;padding: 16px 134px 19px 0
        }
      

        .box_3 {
          width: 221.00px;margin-right: 19.00px
        }
      

        .block_1 {
          background-color: rgba(255,129,26,1.000000);border-radius: 0px 28px 28px 0px;width: 3.00px;height: 18.00px;margin: 6px 0 6px 0
        }
      

        .text_3 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 17.00px;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 30.00px
        }
      

        .box_4 {
          width: 223.00px;margin: 10px 0 0 17px
        }
      

        .paragraph_1 {
          width: 70.00px;height: 60.00px;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 30.00px
        }
      

        .image-text_1 {
          width: 141.00px
        }
      

        .text-group_1 {
          width: 123.00px;height: 60.00px;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 30.00px
        }
      

        .thumbnail_3 {
          width: 11.00px;height: 12.00px;margin: 9px 0 39px 0
        }
      

        .group_4 {
          width: 375.00px;margin-top: 1.00px
        }
      

        .group_5 {
          background-color: rgba(255,255,255,1.000000);padding: 11px 62px 0 61px
        }
      

        .text_4 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 16.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 22.00px
        }
      

        .group_6 {
          background-color: rgba(255,129,26,1.000000);border-radius: 2px;width: 37.00px;height: 4.00px;margin: 7px 14px 0 13px
        }
      

        .text-wrapper_1 {
          background-color: rgba(255,255,255,1.000000);padding: 10px 52px 14px 52px
        }
      

        .text_5 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 20.00px
        }
      

        .group_7 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;position: relative;width: 355.00px;align-self: center;margin-top: -1.00px
        }
      

        .section_1 {
          background: url(./img/SketchPnge4edf23d978dd525e4f6bc575b120e6159ead733da65916dbce7fcd01fd5140e.png) 100% no-repeat;background-size: 100% 100%;padding: 18px 15px 0 15px
        }
      

        .text_6 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 16.00px;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 22.00px;margin-right: 229.00px
        }
      

        .block_2 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 17.00px
        }
      

        .section_2 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_2 {
          width: 53.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_7 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_8 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_2 {
          width: 93.00px
        }
      

        .text-group_2 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_4 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_3 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .section_4 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_3 {
          width: 38.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_9 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_10 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_3 {
          width: 78.00px
        }
      

        .text-group_3 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_5 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_5 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .section_6 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_4 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_11 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_12 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_4 {
          width: 78.00px
        }
      

        .text-group_4 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_6 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_7 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .text-wrapper_5 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px;margin: 15px 272px 0 15px
        }
      

        .text_13 {
          overflow-wrap: break-word;color: rgba(255,0,0,0.90);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_14 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .section_8 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;align-self: center;margin-top: 11.00px;width: 325.00px;padding: 14px 15px 10px 15px
        }
      

        .text-wrapper_6 {
          margin-right: 115.00px
        }
      

        .text_15 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text-wrapper_7 {
          margin: 11px 0 0 257px
        }
      

        .text_16 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 20.00px
        }
      

        .section_9 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 14.00px
        }
      

        .section_10 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_8 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_17 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_18 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_5 {
          width: 48.00px
        }
      

        .text-group_5 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_7 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_11 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .section_12 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_9 {
          width: 98.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_19 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_20 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_6 {
          width: 173.00px
        }
      

        .text-group_6 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_8 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_13 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .section_14 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_10 {
          width: 98.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_21 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_22 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_23 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px;margin-left: 164.00px
        }
      

        .thumbnail_9 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .section_15 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .section_16 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_11 {
          width: 68.00px;height: 20.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_24 {
          height: 20.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_25 {
          height: 20.00px;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_26 {
          height: 20.00px;overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px;margin-left: 194.00px
        }
      

        .thumbnail_10 {
          width: 18.00px;height: 18.00px;margin-top: 2.00px
        }
      

        .section_17 {
          box-shadow: 0px -3px 4px 0px rgba(0,0,0,0.050000);background-color: rgba(255,255,255,1.000000);position: absolute;left: -10.00px;top: 461.00px;width: 375.00px;height: 70.00px;padding: 15px 10px 15px 22px
        }
      

        .image-text_7 {
          width: 56.00px;margin: 9px 0 9px 0
        }
      

        .thumbnail_11 {
          width: 18.00px;height: 11.00px;margin: 6px 0 5px 0
        }
      

        .text-group_7 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 16.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 22.00px
        }
      

        .text-wrapper_12 {
          background: url(./img/SketchPng5ea861bfd0ab136a6486b5c9aa59f81590414d92eba3e9fa41d077b077cbeaff.png) 100% no-repeat;background-size: 100% 100%;padding: 9px 113px 9px 113px
        }
      

        .text_27 {
          overflow-wrap: break-word;color: rgba(255,255,255,1);font-size: 16.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 22.00px
        }
      