
        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 100vw;height: 110.94vw;overflow: hidden;padding: 3.73vw 2.66vw 4.26vw 2.66vw
        }
      

        .group_1 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;padding-bottom: 5.34vw
        }
      

        .box_1 {
          background: url(./img/SketchPng49cf682108fe0871910d38e0bd4c050ca552adc3c19d4d13cf0ac533aa2761d0.png) 100% no-repeat;background-size: 100% 100%;padding: 4.8vw 4vw 0 4vw
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4.26vw;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 5.87vw;margin-right: 69.6vw
        }
      

        .paragraph_1 {
          width: 84.54vw;height: 10.67vw;overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 5.34vw;margin: 1.33vw 2.13vw 0 0
        }
      

        .box_2 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 4vw
        }
      

        .list_1 {
          width: 86.67vw;height: 33.87vw;align-self: center;margin-top: 4vw
        }
      

        .list-items_1-0 {
          background-color: rgba(243,245,246,1.000000);border-radius: 8px;margin-bottom: 2.4vw;padding: 2.66vw 5.33vw 2.4vw 3.2vw
        }
      

        .group_2-0 {
          
        }
      

        .text_2-0 {
          width: 57.07vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.73vw;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 5.34vw
        }
      

        .icon_1-0 {
          width: 4.54vw;height: 3.47vw;margin: 0.8vw 0 1.06vw 15.2vw
        }
      

        .icon_2-0 {
          width: 3.74vw;height: 4.27vw;margin: 0.26vw 0 0.8vw 4.53vw
        }
      

        .text-wrapper_1-0 {
          width: 69.34vw;margin: 1.06vw 8.8vw 0 0
        }
      

        .text_3-0 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 2.93vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 4.27vw
        }
      

        .text_4-0 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 2.93vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 4.27vw
        }
      

        .list-items_1-1 {
          background-color: rgba(243,245,246,1.000000);border-radius: 8px;margin-bottom: 2.4vw;padding: 2.66vw 5.33vw 2.4vw 3.2vw
        }
      

        .group_2-1 {
          
        }
      

        .text_2-1 {
          width: 57.07vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.73vw;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 5.34vw
        }
      

        .icon_1-1 {
          width: 4.54vw;height: 3.47vw;margin: 0.8vw 0 1.06vw 15.2vw
        }
      

        .icon_2-1 {
          width: 3.74vw;height: 4.27vw;margin: 0.26vw 0 0.8vw 4.53vw
        }
      

        .text-wrapper_1-1 {
          width: 69.34vw;margin: 1.06vw 8.8vw 0 0
        }
      

        .text_3-1 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 2.93vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 4.27vw
        }
      

        .text_4-1 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 2.93vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 4.27vw
        }
      

        .button_1 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;border: 1px 2,4 rgba(187,187,187,1);align-self: center;margin-top: 4vw;width: 86.67vw;padding: 5.06vw 33.6vw 4.8vw 33.86vw
        }
      

        .text_5 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.34vw
        }
      

        .paragraph_2 {
          width: 86.14vw;height: 9.07vw;overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 4.54vw;margin: 4vw 4.53vw 0 4vw
        }
      