
        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 375.00px;height: 416.00px;overflow: hidden;padding: 14px 10px 16px 10px
        }
      

        .group_1 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;padding-bottom: 20.00px
        }
      

        .box_1 {
          background: url(./img/SketchPng49cf682108fe0871910d38e0bd4c050ca552adc3c19d4d13cf0ac533aa2761d0.png) 100% no-repeat;background-size: 100% 100%;padding: 18px 15px 0 15px
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 16.00px;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 22.00px;margin-right: 261.00px
        }
      

        .paragraph_1 {
          width: 317.00px;height: 40.00px;overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 20.00px;margin: 5px 8px 0 0
        }
      

        .box_2 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 15.00px
        }
      

        .list_1 {
          width: 325.00px;height: 127.00px;align-self: center;margin-top: 15.00px
        }
      

        .list-items_1-0 {
          background-color: rgba(243,245,246,1.000000);border-radius: 8px;margin-bottom: 9.00px;padding: 10px 20px 9px 12px
        }
      

        .group_2-0 {
          
        }
      

        .text_2-0 {
          width: 214.00px;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 14.00px;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 20.00px
        }
      

        .icon_1-0 {
          width: 17.00px;height: 13.00px;margin: 3px 0 4px 57px
        }
      

        .icon_2-0 {
          width: 14.00px;height: 16.00px;margin: 1px 0 3px 17px
        }
      

        .text-wrapper_1-0 {
          width: 260.00px;margin: 4px 33px 0 0
        }
      

        .text_3-0 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 11.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 16.00px
        }
      

        .text_4-0 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 11.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 16.00px
        }
      

        .list-items_1-1 {
          background-color: rgba(243,245,246,1.000000);border-radius: 8px;margin-bottom: 9.00px;padding: 10px 20px 9px 12px
        }
      

        .group_2-1 {
          
        }
      

        .text_2-1 {
          width: 214.00px;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 14.00px;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 20.00px
        }
      

        .icon_1-1 {
          width: 17.00px;height: 13.00px;margin: 3px 0 4px 57px
        }
      

        .icon_2-1 {
          width: 14.00px;height: 16.00px;margin: 1px 0 3px 17px
        }
      

        .text-wrapper_1-1 {
          width: 260.00px;margin: 4px 33px 0 0
        }
      

        .text_3-1 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 11.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 16.00px
        }
      

        .text_4-1 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 11.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 16.00px
        }
      

        .button_1 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;border: 1px 2,4 rgba(187,187,187,1);align-self: center;margin-top: 15.00px;width: 325.00px;padding: 19px 126px 18px 127px
        }
      

        .text_5 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 20.00px
        }
      

        .paragraph_2 {
          width: 323.00px;height: 34.00px;overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 12.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 17.00px;margin: 15px 17px 0 15px
        }
      