* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}

.select {
  display: inline-block;
  margin: 0 5px;
  position: relative;
  color: #666;
  white-space: nowrap; /*不换行*/
}
.title {
  min-width: 150px;
  height: 40px;
  line-height: 40px;
  display:flex;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.title .iconfont {
  font-size: 10px;
  transition: 0.25s;
}
.options {
  list-style: none;
  font-size:12px;
  border: 1px solid #ccc;
  /*变为绝对定位，宽度坍塌了，宽度没有找到相对的*/
  position: absolute;
  max-height:300px;
  min-width:100%;
  padding: 10px;
  top: 50px;
  background: #fff;
  display: grid;
  grid-auto-flow: column; /* 按照列排序*/
  grid-template-rows: repeat(auto-fit, 20px); /* 自动适应，行的高度是20px*/
  row-gap: 6px;
  column-gap: 26px;
  justify-items: left; /*不拉伸*/
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

  transform: scaleY(0);
  opacity:0;
  transition: 0.5s;
  transform-origin: center -10px;
}
.options:before {
  content:'';
  position:absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background: #fff;
  left: 70px;
  top: -6px;
  transform: rotate(45deg);
}
.options li {
  cursor: pointer;
  /*background: #f40;*/
  padding:3px 5px;
  border-radius:5px
}
.options li.active {
  background: #eec05a;
}
.select.expand .options {
  transform: scaleY(1);
  opacity: 1;
}
.select.expand .iconfont {
  transform: rotate(180deg);
}
.select.disabled {
  color: #ccc;
}
.select.disabled .title {
  cursor: not-allowed;
}
