
        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 100vw;height: 416vw;overflow: hidden
        }
      

        .block_1 {
          background-color: rgba(255,255,255,1.000000);height: 23.47vw;padding-top: 3.74vw
        }
      

        .group_1 {
          margin: 0 3.73vw 0 5.6vw
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(0,0,0,1);font-size: 4vw;letter-spacing: -0.30000001192092896px;font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.8vw
        }
      

        .thumbnail_1 {
          width: 4.54vw;height: 2.94vw;margin: 1.06vw 0 0.8vw 58.4vw
        }
      

        .thumbnail_2 {
          width: 4vw;height: 2.94vw;margin: 0.8vw 0 1.06vw 1.33vw
        }
      

        .image_1 {
          width: 6.67vw;height: 3.2vw;margin: 0.8vw 0 0.8vw 1.33vw
        }
      

        .nav-bar_1 {
          margin-top: 2.67vw;padding: 0.53vw 4vw 0.26vw 0
        }
      

        .label_1 {
          width: 10.67vw;height: 11.74vw
        }
      

        .text_2 {
          overflow-wrap: break-word;color: rgba(0,0,0,0.9);font-size: 4.8vw;font-family: PingFangSC-Medium;font-weight: 500;text-align: center;white-space: nowrap;line-height: 4.8vw;margin: 3.46vw 0 0 25.06vw
        }
      

        .text_3 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.34vw;margin: 3.2vw 0 0 24vw
        }
      

        .tabs_1 {
          background-color: rgba(255,255,255,1.000000);margin-top: 0.27vw;padding: 2.93vw 9.06vw 0 9.33vw
        }
      

        .text-wrapper_1 {
          width: 81.6vw
        }
      

        .text_4 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.34vw;margin-top: 0.27vw
        }
      

        .text_5 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4.26vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.87vw
        }
      

        .text_6 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.34vw;margin-top: 0.27vw
        }
      

        .group_2 {
          width: 9.87vw;align-self: center;margin-top: 1.87vw
        }
      

        .box_1 {
          background-color: rgba(255,129,26,1.000000);border-radius: 2px;width: 9.87vw;height: 1.07vw
        }
      

        .block_2 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;width: 94.67vw;align-self: center;margin-top: 3.74vw;padding-bottom: 3.74vw
        }
      

        .group_3 {
          background: url(./img/SketchPnge4edf23d978dd525e4f6bc575b120e6159ead733da65916dbce7fcd01fd5140e.png) 100% no-repeat;background-size: 100% 100%;padding: 4.8vw 4vw 0 4vw
        }
      

        .text_7 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4.26vw;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 5.87vw;margin-right: 69.6vw
        }
      

        .group_4 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 4.54vw
        }
      

        .group_5 {
          width: 86.67vw;align-self: center;margin-top: 4vw
        }
      

        .text-wrapper_2 {
          width: 18.14vw;height: 5.6vw;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_8 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_9 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .image-text_1 {
          width: 24.8vw
        }
      

        .text-group_1 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .thumbnail_3 {
          width: 4.8vw;height: 4.8vw;margin: 0.53vw 0 0.26vw 0
        }
      

        .group_6 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;align-self: center;margin-top: 3.47vw
        }
      

        .text-wrapper_3 {
          width: 18.14vw;height: 5.6vw;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw;margin: 4vw 72.53vw 0 4vw
        }
      

        .text_10 {
          overflow-wrap: break-word;color: rgba(255,0,0,0.90);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_11 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text-wrapper_4 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;align-self: center;margin-top: 2.94vw;width: 86.67vw;padding: 3.73vw 38.66vw 10.93vw 4vw
        }
      

        .text_12 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .group_7 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;align-self: center;margin-top: 3.74vw
        }
      

        .text_13 {
          overflow-wrap: break-word;color: rgba(234,117,30,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw;margin: 3.73vw 40.53vw 0 3.46vw
        }
      

        .block_3 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;align-self: center;margin-top: 3.74vw;width: 94.67vw;position: relative;padding: 5.6vw 2.93vw 3.73vw 0
        }
      

        .section_1 {
          width: 55.74vw;margin-right: 36vw
        }
      

        .box_2 {
          background-color: rgba(255,129,26,1.000000);border-radius: 0px 28px 28px 0px;width: 1.07vw;height: 4.8vw;margin: 0.53vw 0 0.53vw 0
        }
      

        .text_14 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4.26vw;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 5.87vw
        }
      

        .text-wrapper_5 {
          width: 32.54vw;margin: 2.93vw 54.66vw 0 4.53vw
        }
      

        .text_15 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 9.33vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: left;white-space: nowrap;line-height: 10.94vw
        }
      

        .text_16 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 4.54vw;margin-top: 5.34vw
        }
      

        .section_2 {
          margin: 3.73vw 45.33vw 0 3.73vw
        }
      

        .group_8 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;padding: 2.13vw 11.73vw 2.4vw 11.73vw
        }
      

        .text-group_2 {
          
        }
      

        .text_17 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 5.86vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 6.94vw;align-self: center
        }
      

        .text_18 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.54vw;margin-top: 0.54vw
        }
      

        .section_3 {
          margin: 2.93vw 0 0 3.73vw
        }
      

        .grid_1 {
          width: 88vw;height: 37.07vw;flex-wrap: wrap
        }
      

        .text-group_3-0 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 42.67vw;height: 16.54vw;margin: 0 2.66vw 4vw 0;padding: 2.4vw 11.73vw 2.13vw 11.73vw
        }
      

        .text_19-0 {
          width: 5.87vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 5.86vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 6.94vw;align-self: center
        }
      

        .text_20-0 {
          width: 28.8vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.54vw;margin-top: 0.54vw
        }
      

        .text-group_3-1 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 42.67vw;height: 16.54vw;margin: 0 2.66vw 4vw 0;padding: 2.4vw 11.73vw 2.13vw 11.73vw;margin-right: 0
        }
      

        .text_19-1 {
          width: 5.87vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 5.86vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 6.94vw;align-self: center
        }
      

        .text_20-1 {
          width: 28.8vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.54vw;margin-top: 0.54vw
        }
      

        .text-group_3-2 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 42.67vw;height: 16.54vw;margin: 0 2.66vw 4vw 0;padding: 2.4vw 11.73vw 2.13vw 11.73vw;margin-bottom: 0
        }
      

        .text_19-2 {
          width: 5.87vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 5.86vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 6.94vw;align-self: center
        }
      

        .text_20-2 {
          width: 28.8vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.54vw;margin-top: 0.54vw
        }
      

        .text-group_3-3 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 42.67vw;height: 16.54vw;margin: 0 2.66vw 4vw 0;padding: 2.4vw 11.73vw 2.13vw 11.73vw;margin-right: 0;margin-bottom: 0
        }
      

        .text_19-3 {
          width: 5.87vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 5.86vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 6.94vw;align-self: center
        }
      

        .text_20-3 {
          width: 28.8vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.54vw;margin-top: 0.54vw
        }
      

        .section_4 {
          height: 46.4vw;background: url(./img/SketchPng9af6654211d5e5688cfd60e81248f4065e254142109d390a4443662c3287e7fb.png) 100% no-repeat;background-size: 100% 100%;width: 46.4vw;position: absolute;left: 46.4vw;top: -0.53vw;padding: 29.6vw 1.06vw 0.26vw 2.66vw
        }
      

        .tag_1 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;padding: 2.13vw 10.13vw 2.4vw 10.13vw
        }
      

        .text-group_4 {
          
        }
      

        .text_21 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 5.86vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 6.94vw;align-self: center
        }
      

        .text_22 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.54vw;margin-top: 0.54vw
        }
      

        .block_4 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;position: relative;width: 94.67vw;align-self: center;margin-top: 3.74vw;padding-bottom: 5.87vw
        }
      

        .group_9 {
          background: url(./img/SketchPng5e9206c79c0ef724fe22803e9050a10f8cd9884b39a22b274e9ab11e472915ce.png) 100% no-repeat;background-size: 100% 100%;padding: 4.8vw 4vw 0 4vw
        }
      

        .text-group_5 {
          margin-right: 25.87vw
        }
      

        .text_23 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4.26vw;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 5.87vw;margin-right: 43.74vw
        }
      

        .text_24 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.34vw;margin-top: 1.34vw
        }
      

        .group_10 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;margin-top: 3.74vw
        }
      

        .text-wrapper_6 {
          width: 86.67vw;align-self: center;margin-top: 4vw
        }
      

        .text_25 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_26 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .group_11 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;align-self: center;margin-top: 3.47vw
        }
      

        .text-wrapper_7 {
          width: 86.67vw;align-self: center;margin-top: 4vw
        }
      

        .text_27 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_28 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .group_12 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;align-self: center;margin-top: 3.47vw
        }
      

        .text-wrapper_8 {
          width: 86.67vw;align-self: center;margin-top: 4vw
        }
      

        .text_29 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_30 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .group_13 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;align-self: center;margin-top: 3.47vw
        }
      

        .group_14 {
          width: 86.67vw;align-self: center;margin-top: 4vw
        }
      

        .text-wrapper_9 {
          width: 32.8vw;height: 5.6vw;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_31 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_32 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_33 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .group_15 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;align-self: center;margin-top: 3.47vw
        }
      

        .group_16 {
          width: 86.67vw;align-self: center;margin-top: 4vw
        }
      

        .text-wrapper_10 {
          width: 46.14vw;height: 5.6vw;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_34 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_35 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .image-text_2 {
          width: 8.8vw
        }
      

        .text-group_6 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .thumbnail_4 {
          width: 4.8vw;height: 4.8vw;margin: 0.53vw 0 0.26vw 0
        }
      

        .group_17 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;align-self: center;margin-top: 3.47vw
        }
      

        .group_18 {
          width: 86.67vw;align-self: center;margin-top: 4vw
        }
      

        .text-wrapper_11 {
          width: 24.8vw;height: 5.6vw;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_36 {
          overflow-wrap: break-word;color: rgba(255,0,0,0.90);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_37 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_38 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .group_19 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;align-self: center;margin-top: 3.47vw
        }
      

        .text_39 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw;margin: 4vw 66.66vw 0 4vw
        }
      

        .group_20 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;align-self: center;margin-top: 28.8vw
        }
      

        .group_21 {
          background-color: rgba(242,242,242,1.000000);width: 86.67vw;height: 0.27vw;align-self: center;margin-top: 15.47vw
        }
      

        .text-wrapper_12 {
          width: 26.14vw;height: 5.6vw;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw;margin: 4vw 64.53vw 0 4vw
        }
      

        .text_40 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .text_41 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw
        }
      

        .group_22 {
          width: 86.67vw;align-self: center;margin-top: 3.47vw
        }
      

        .text-wrapper_13 {
          background-color: rgba(244,244,244,1.000000);border-radius: 15px;padding: 1.06vw 18.66vw 1.33vw 18.66vw
        }
      

        .text_42 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.6vw
        }
      

        .text-wrapper_14 {
          background-color: rgba(254,238,231,1.000000);border-radius: 15px;padding: 1.06vw 18.66vw 1.33vw 18.66vw
        }
      

        .text_43 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.6vw
        }
      

        .text-wrapper_15 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;height: 37.34vw;width: 86.67vw;position: absolute;left: 4vw;top: 113.87vw;padding: 28vw 4vw 4vw 71.73vw
        }
      

        .text_44 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.34vw
        }
      

        .block_5 {
          background: url(./img/SketchPnge54b934e067b2fd16dc1508cdbb48721408591f35ebedb5f61284ee2a18b4aef.png) 0vw -1.87vw no-repeat;background-size: 100vw 20.53vw;padding: 4vw 2.66vw 4vw 2.66vw
        }
      

        .button_1 {
          background-color: rgba(255,255,255,1.000000);border-radius: 40px;border: 1px solid rgba(255,129,26,1);padding: 2.13vw 39.46vw 2.13vw 39.2vw
        }
      

        .image-text_3 {
          width: 15.47vw
        }
      

        .icon_1 {
          width: 4.8vw;height: 5.34vw;margin-bottom: 0.54vw
        }
      

        .text-group_7 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 4.26vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.87vw
        }
      