
        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 100vw;height: 216.54vw;overflow: hidden;padding-left: 0;padding-right: 0;padding-top: 0;padding-bottom: 47.2vw
        }
      

        .box_1 {
          background-color: rgba(255,255,255,1.000000);padding: 3.73vw 0 0.53vw 0
        }
      

        .block_1 {
          margin: 0 3.73vw 0 5.6vw
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(0,0,0,1);font-size: 4vw;letter-spacing: -0.30000001192092896px;font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.8vw
        }
      

        .thumbnail_1 {
          width: 4.54vw;height: 2.94vw;margin: 1.06vw 0 0.8vw 58.4vw
        }
      

        .thumbnail_2 {
          width: 4vw;height: 2.94vw;margin: 0.8vw 0 1.06vw 1.33vw
        }
      

        .image_1 {
          width: 6.67vw;height: 3.2vw;margin: 0.8vw 0 0.8vw 1.33vw
        }
      

        .nav-bar_1 {
          margin-top: 2.67vw;padding: 0.53vw 2.93vw 0 0
        }
      

        .label_1 {
          width: 10.67vw;height: 11.74vw;margin-bottom: -0.53vw
        }
      

        .text_2 {
          overflow-wrap: break-word;color: rgba(0,0,0,0.9);font-size: 4.8vw;font-family: PingFangSC-Medium;font-weight: 500;text-align: center;white-space: nowrap;line-height: 4.8vw;margin: 3.46vw 0 0 29.86vw
        }
      

        .group_1 {
          margin: 3.2vw 0 2.66vw 16.53vw
        }
      

        .group_2 {
          width: 20.8vw
        }
      

        .icon_1 {
          width: 3.74vw;height: 3.74vw;margin: 0.8vw 0 0.8vw 0
        }
      

        .text_3 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.34vw
        }
      

        .box_2 {
          padding-bottom: 2.94vw
        }
      

        .section_1 {
          background-color: rgba(255,255,255,1.000000);padding: 1.6vw 2.93vw 1.6vw 2.66vw
        }
      

        .input_1 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;padding: 1.6vw 2.13vw 1.6vw 3.73vw
        }
      

        .icon_2 {
          width: 3.74vw;height: 3.74vw;margin: 1.86vw 0 1.86vw 0
        }
      

        .text_4 {
          overflow-wrap: break-word;color: rgba(0,0,0,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.6vw;margin: 1.06vw 0 0 1.6vw
        }
      

        .block_2 {
          background-color: rgba(0,0,0,1.000000);width: 0.27vw;height: 5.07vw;margin: 1.6vw 0 0.8vw 0.8vw
        }
      

        .button_1 {
          background-image: linear-gradient(90deg, rgba(254,199,117,1.000000) 0, rgba(255,129,26,1.000000) 100.000000%);border-radius: 33px;margin-left: 60vw;padding: 1.06vw 3.2vw 1.06vw 3.46vw
        }
      

        .text_5 {
          overflow-wrap: break-word;color: rgba(255,255,255,1);font-size: 3.46vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.8vw
        }
      

        .section_2 {
          background-color: rgba(255,255,255,1.000000);position: relative;width: 100vw;padding: 2.13vw 0 2.13vw 2.66vw
        }
      

        .block_3 {
          background-color: rgba(255,242,232,1.000000);border-radius: 4px;border: 1px solid rgba(255,129,26,1);padding: 0.53vw 1.6vw 0.26vw 1.33vw
        }
      

        .image-text_1 {
          width: 38.14vw
        }
      

        .text-group_1 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 4.54vw
        }
      

        .icon_3 {
          width: 1.87vw;height: 1.87vw;margin: 1.06vw 0 1.6vw 0
        }
      

        .block_4 {
          background-color: rgba(248,247,251,1.000000);border-radius: 4px;padding: 0.8vw 1.86vw 0.53vw 1.6vw
        }
      

        .image-text_2 {
          width: 9.87vw
        }
      

        .text-group_2 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 4.54vw
        }
      

        .icon_4 {
          width: 1.87vw;height: 1.87vw;margin: 1.06vw 0 1.6vw 0
        }
      

        .block_5 {
          background-color: rgba(248,247,251,1.000000);border-radius: 4px;padding: 0.8vw 1.86vw 0.53vw 1.6vw
        }
      

        .image-text_3 {
          width: 16.27vw
        }
      

        .text-group_3 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 4.54vw
        }
      

        .icon_5 {
          width: 1.87vw;height: 1.87vw;margin: 1.06vw 0 1.6vw 0
        }
      

        .block_6 {
          background-color: rgba(248,247,251,1.000000);border-radius: 4px;padding: 0.8vw 0 0.53vw 1.6vw
        }
      

        .image-text_4 {
          width: 16.27vw
        }
      

        .text-group_4 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 4.54vw
        }
      

        .thumbnail_3 {
          width: 1.87vw;height: 1.87vw;margin: 1.06vw 0 1.6vw 0
        }
      

        .text-wrapper_1 {
          box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.120000);background-color: rgba(255,255,255,1.000000);height: 10.14vw;width: 12.54vw;position: absolute;left: 87.47vw;top: 0;padding: 2.93vw 2.93vw 2.66vw 3.2vw
        }
      

        .text_6 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.2vw;font-family: PingFangSC-Medium;font-weight: 500;text-align: left;white-space: nowrap;line-height: 4.54vw
        }
      

        .tabs_1 {
          
        }
      

        .block_7 {
          width: 100vw
        }
      

        .section_3 {
          width: 80vw
        }
      

        .text-wrapper_2 {
          background-color: rgba(255,255,255,1.000000);padding: 3.2vw 4.26vw 3.2vw 4.26vw
        }
      

        .text_7 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.34vw
        }
      

        .text-wrapper_3 {
          background-color: rgba(255,255,255,1.000000);padding: 3.2vw 3.2vw 3.2vw 3.46vw
        }
      

        .text_8 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.34vw
        }
      

        .text-wrapper_4 {
          background-color: rgba(255,255,255,1.000000);padding: 3.2vw 3.2vw 3.2vw 3.46vw
        }
      

        .text_9 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.34vw
        }
      

        .text-wrapper_5 {
          background-color: rgba(255,255,255,1.000000);padding: 3.2vw 3.2vw 3.2vw 3.2vw
        }
      

        .text_10 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.34vw
        }
      

        .section_4 {
          background-color: rgba(255,255,255,1.000000);padding: 2.93vw 1.6vw 0 1.6vw
        }
      

        .text_11 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.6vw
        }
      

        .box_3 {
          background-color: rgba(255,129,26,1.000000);border-radius: 2px;width: 9.87vw;height: 1.07vw;align-self: center;margin-top: 2.14vw
        }
      

        .box_4 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;width: 94.67vw;align-self: center;margin-top: -0.26vw;padding: 2.66vw 0 4.8vw 0
        }
      

        .box_5 {
          width: 59.2vw;margin-right: 35.47vw
        }
      

        .block_8 {
          background-color: rgba(255,129,26,1.000000);border-radius: 0px 28px 28px 0px;width: 1.07vw;height: 4.8vw;margin: 1.6vw 0 1.6vw 0
        }
      

        .text_12 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4.53vw;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 8vw
        }
      

        .box_6 {
          width: 36.8vw;margin: 2.66vw 53.06vw 0 4.8vw
        }
      

        .tag_1 {
          background-color: rgba(255,242,232,1.000000);border-radius: 4px;padding: 0.53vw 1.6vw 0.8vw 1.6vw
        }
      

        .text_13 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 4.54vw
        }
      

        .tag_2 {
          background-color: rgba(239,235,253,1.000000);border-radius: 4px;padding: 0.53vw 1.06vw 0.8vw 1.6vw
        }
      

        .text_14 {
          overflow-wrap: break-word;color: rgba(94,61,239,1);font-size: 3.2vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 4.54vw
        }
      

        .box_7 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;width: 84vw;align-self: center;margin-top: 3.2vw;justify-content: flex-center;padding: 3.46vw 3.73vw 3.46vw 3.73vw
        }
      

        .text-group_5 {
          
        }
      

        .text_15 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 8.8vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: left;white-space: nowrap;line-height: 10.14vw;margin-right: 1.87vw
        }
      

        .text_16 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.34vw;margin-top: 1.07vw
        }
      

        .thumbnail_4 {
          width: 3.2vw;height: 1.07vw;margin: 6.4vw 0 9.06vw 10.93vw
        }
      

        .thumbnail_5 {
          width: 5.34vw;height: 1.07vw;margin: 6.4vw 0 9.06vw 1.06vw
        }
      

        .box_8 {
          background-color: rgba(216,216,216,0.500000);border-radius: 50%;width: 1.07vw;height: 1.07vw;margin: 6.4vw 0 9.06vw 1.06vw
        }
      

        .text-group_6 {
          margin: 0.26vw 0 0 11.73vw
        }
      

        .text_17 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 8.8vw;font-family: DINAlternate-Bold;font-weight: 700;text-align: right;white-space: nowrap;line-height: 10.14vw;margin-left: 1.87vw
        }
      

        .text_18 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 5.34vw;margin-top: 0.8vw
        }
      

        .box_9 {
          width: 59.2vw;margin: 2.4vw 30.13vw 0 5.33vw
        }
      

        .paragraph_1 {
          width: 14.94vw;height: 40vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 8vw
        }
      

        .image-text_5 {
          width: 37.34vw
        }
      

        .text-group_7 {
          width: 32.8vw;height: 40vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 8vw
        }
      

        .icon_6 {
          width: 2.94vw;height: 3.2vw;margin: 2.4vw 0 34.4vw 0
        }
      

        .box_10 {
          background-color: rgba(242,242,242,1.000000);width: 94.67vw;height: 0.27vw;margin-top: 2.4vw
        }
      

        .text-wrapper_6 {
          border-radius: 33px;border: 1px solid rgba(255,129,26,1);margin: 4.26vw 76vw 0 5.33vw;padding: 1.06vw 2.93vw 1.06vw 2.93vw
        }
      

        .text_19 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 3.46vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.8vw
        }
      

        .keybord_1 {
          position: absolute;left: 0;top: 139.2vw;width: 100vw;height: 77.34vw
        }
      