
        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 375.00px;height: 812.00px;overflow: hidden
        }
      

        .box_1 {
          background-color: rgba(255,255,255,1.000000);padding: 14px 14px 0 0
        }
      

        .group_1 {
          margin-left: 21.00px
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(0,0,0,1);font-size: 15.00px;letter-spacing: -0.30000001192092896px;font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 18.00px
        }
      

        .thumbnail_1 {
          width: 17.00px;height: 11.00px;margin: 4px 0 3px 219px
        }
      

        .thumbnail_2 {
          width: 15.00px;height: 11.00px;margin: 3px 0 4px 5px
        }
      

        .image_1 {
          width: 25.00px;height: 12.00px;margin: 3px 0 3px 5px
        }
      

        .group_2 {
          width: 224.00px;margin: 12px 137px 0 0
        }
      

        .label_1 {
          width: 40.00px;height: 44.00px
        }
      

        .text_2 {
          overflow-wrap: break-word;color: rgba(0,0,0,0.9);font-size: 18.00px;font-family: PingFangSC-Medium;font-weight: 500;text-align: center;white-space: nowrap;line-height: 18.00px;margin-top: 13.00px
        }
      

        .box_2 {
          padding: 1px 0 15px 0
        }
      

        .box_3 {
          width: 375.00px
        }
      

        .box_4 {
          background-color: rgba(255,255,255,1.000000);padding: 11px 30px 0 31px
        }
      

        .text_3 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 16.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 22.00px
        }
      

        .group_3 {
          background-color: rgba(255,129,26,1.000000);border-radius: 2px;width: 37.00px;height: 4.00px;margin: 7px 14px 0 13px
        }
      

        .text-wrapper_1 {
          background-color: rgba(255,255,255,1.000000);padding: 12px 34px 12px 35px
        }
      

        .text_4 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 20.00px
        }
      

        .text-wrapper_2 {
          background-color: rgba(255,255,255,1.000000);padding: 12px 34px 12px 35px
        }
      

        .text_5 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 20.00px
        }
      

        .box_5 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;position: relative;width: 355.00px;align-self: center;margin-top: -1.00px
        }
      

        .block_1 {
          background: url(./img/SketchPnge4edf23d978dd525e4f6bc575b120e6159ead733da65916dbce7fcd01fd5140e.png) 100% no-repeat;background-size: 100% 100%;padding: 18px 15px 0 15px
        }
      

        .text_6 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 16.00px;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 22.00px;margin-right: 229.00px
        }
      

        .box_6 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 17.00px
        }
      

        .block_2 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_3 {
          width: 53.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_7 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_8 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_1 {
          width: 93.00px
        }
      

        .text-group_1 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_3 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .block_3 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .block_4 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_4 {
          width: 38.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_9 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_10 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_2 {
          width: 78.00px
        }
      

        .text-group_2 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_4 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .block_5 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .block_6 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_5 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_11 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_12 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_3 {
          width: 78.00px
        }
      

        .text-group_3 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_5 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .block_7 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .text-wrapper_6 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px;margin: 15px 272px 0 15px
        }
      

        .text_13 {
          overflow-wrap: break-word;color: rgba(255,0,0,0.90);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_14 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .block_8 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;align-self: center;margin-top: 11.00px;width: 325.00px;padding: 14px 15px 10px 15px
        }
      

        .text-wrapper_7 {
          margin-right: 115.00px
        }
      

        .text_15 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text-wrapper_8 {
          margin: 11px 0 0 257px
        }
      

        .text_16 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 20.00px
        }
      

        .block_9 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 14.00px
        }
      

        .block_10 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_9 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_17 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_18 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_4 {
          width: 48.00px
        }
      

        .text-group_4 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_6 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .block_11 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .block_12 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_10 {
          width: 98.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_19 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_20 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_5 {
          width: 173.00px
        }
      

        .text-group_5 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_7 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .block_13 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .block_14 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_11 {
          width: 98.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_21 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_22 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_6 {
          width: 170.00px
        }
      

        .text-group_6 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_8 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .block_15 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .block_16 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_12 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_23 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_24 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_7 {
          width: 78.00px
        }
      

        .text-group_7 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_9 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .block_17 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .block_18 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_13 {
          width: 113.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_25 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_26 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_8 {
          width: 33.00px
        }
      

        .text-group_8 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_10 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .block_19 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .block_20 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_14 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_27 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_28 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_29 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px;margin-left: 209.00px
        }
      

        .thumbnail_11 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .block_21 {
          width: 325.00px;align-self: center;margin-top: 13.00px
        }
      

        .text-wrapper_15 {
          width: 68.00px;height: 20.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_30 {
          height: 20.00px;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_31 {
          height: 20.00px;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_32 {
          height: 20.00px;overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px;margin-left: 194.00px
        }
      

        .thumbnail_12 {
          width: 18.00px;height: 18.00px;margin-top: 2.00px
        }
      

        .block_22 {
          background-color: rgba(242,242,242,1.000000);position: absolute;left: 15.00px;top: 645.00px;width: 325.00px;height: 1.00px
        }
      

        .block_23 {
          height: 70.00px;background: url(./img/SketchPnge54b934e067b2fd16dc1508cdbb48721408591f35ebedb5f61284ee2a18b4aef.png) 0px -7px no-repeat;background-size: 375px 77px;width: 375.00px;position: absolute;left: -10.00px;top: 595.00px;padding: 15px 10px 15px 10px
        }
      

        .box_7 {
          background-color: rgba(255,255,255,1.000000);border-radius: 40px;border: 1px solid rgba(255,129,26,1);padding: 8px 148px 8px 147px
        }
      

        .image-text_9 {
          width: 58.00px
        }
      

        .thumbnail_13 {
          width: 18.00px;height: 20.00px;margin-bottom: 2.00px
        }
      

        .text-group_9 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 16.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 22.00px
        }
      