
    html {
      font-size:37.5px
    }
  

        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 10rem;height: 29.814rem;overflow: hidden;padding-left: 0;padding-right: 0;padding-top: 0;padding-bottom: 0.56rem
        }
      

        .box_1 {
          background-color: rgba(255,255,255,1.000000);padding: 0.374rem 0.294rem 0 0
        }
      

        .box_2 {
          margin: 0 0.08rem 0 0.56rem
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(0,0,0,1);font-size: 0.4rem;letter-spacing: -0.30000001192092896px;font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.48rem
        }
      

        .thumbnail_1 {
          width: 0.454rem;height: 0.294rem;margin: 0.107rem 0 0.08rem 5.84rem
        }
      

        .thumbnail_2 {
          width: 0.4rem;height: 0.294rem;margin: 0.08rem 0 0.107rem 0.134rem
        }
      

        .image_1 {
          width: 0.667rem;height: 0.32rem;margin: 0.08rem 0 0.08rem 0.134rem
        }
      

        .box_3 {
          margin-top: 0.32rem
        }
      

        .label_1 {
          width: 1.067rem;height: 1.174rem
        }
      

        .text_2 {
          overflow-wrap: break-word;color: rgba(0,0,0,0.9);font-size: 0.48rem;font-family: PingFangSC-Medium;font-weight: 500;text-align: center;white-space: nowrap;line-height: 0.48rem;margin: 0.347rem 0 0 2.987rem
        }
      

        .thumbnail_3 {
          width: 0.374rem;height: 0.374rem;margin: 0.4rem 0 0.4rem 1.654rem
        }
      

        .text_3 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 0.534rem;margin: 0.32rem 0 0 0.214rem
        }
      

        .box_4 {
          background-color: rgba(255,255,255,1.000000);padding: 0.16rem 0.267rem 0 0.267rem
        }
      

        .box_5 {
          background-color: rgba(242,242,242,1.000000);border-radius: 8px;padding: 0.32rem 6.96rem 0.294rem 0.374rem
        }
      

        .image-text_1 {
          width: 2.134rem
        }
      

        .thumbnail_4 {
          width: 0.374rem;height: 0.374rem;margin: 0.08rem 0 0.107rem 0
        }
      

        .text-group_1 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .text-wrapper_1 {
          width: 9.04rem;margin: 0.347rem 0.374rem 0 0.054rem
        }
      

        .text_4 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.426rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.587rem
        }
      

        .text_5 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.534rem;margin-top: 0.054rem
        }
      

        .text_6 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.534rem;margin-top: 0.054rem
        }
      

        .text_7 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.534rem;margin-top: 0.054rem
        }
      

        .text_8 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.534rem;margin-top: 0.054rem
        }
      

        .box_6 {
          background-color: rgba(255,129,26,1.000000);border-radius: 2px;width: 0.987rem;height: 0.107rem;margin: 0.214rem 8.32rem 0 0.16rem
        }
      

        .box_7 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;width: 9.467rem;align-self: center;margin-top: 0.32rem;padding: 0.267rem 0 0.427rem 0
        }
      

        .group_1 {
          width: 5.92rem;margin-right: 3.547rem
        }
      

        .section_1 {
          background-color: rgba(255,129,26,1.000000);border-radius: 0px 28px 28px 0px;width: 0.107rem;height: 0.48rem;margin: 0.16rem 0 0.16rem 0
        }
      

        .text_9 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.453rem;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 0.8rem
        }
      

        .group_2 {
          width: 4.694rem;margin: 0.267rem 4.294rem 0 0.48rem
        }
      

        .text-wrapper_2 {
          background-color: rgba(255,242,232,1.000000);border-radius: 4px;padding: 0.054rem 0.16rem 0.08rem 0.16rem
        }
      

        .text_10 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 0.32rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.454rem
        }
      

        .text-wrapper_3 {
          background-color: rgba(231,245,244,1.000000);border-radius: 4px;padding: 0.054rem 0.16rem 0.08rem 0.16rem
        }
      

        .text_11 {
          overflow-wrap: break-word;color: rgba(21,157,147,1);font-size: 0.32rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.454rem
        }
      

        .text-wrapper_4 {
          background-color: rgba(235,240,253,1.000000);border-radius: 4px;padding: 0.054rem 0.16rem 0.08rem 0.16rem
        }
      

        .text_12 {
          overflow-wrap: break-word;color: rgba(60,110,238,1);font-size: 0.32rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.454rem
        }
      

        .group_3 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;width: 8.4rem;align-self: center;margin-top: 0.374rem;justify-content: flex-center;padding: 0.347rem 0.374rem 0.347rem 0.374rem
        }
      

        .text-group_2 {
          
        }
      

        .text_13 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.88rem;font-family: DINAlternate-Bold;font-weight: 700;text-align: left;white-space: nowrap;line-height: 1.014rem;margin-right: 0.187rem
        }
      

        .text_14 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.534rem;margin-top: 0.107rem
        }
      

        .thumbnail_5 {
          width: 0.32rem;height: 0.107rem;margin: 0.64rem 0 0.907rem 1.094rem
        }
      

        .thumbnail_6 {
          width: 0.534rem;height: 0.107rem;margin: 0.64rem 0 0.907rem 0.107rem
        }
      

        .box_8 {
          background-color: rgba(216,216,216,0.500000);border-radius: 50%;width: 0.107rem;height: 0.107rem;margin: 0.64rem 0 0.907rem 0.107rem
        }
      

        .text-group_3 {
          margin: 0.027rem 0 0 1.174rem
        }
      

        .text_15 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.88rem;font-family: DINAlternate-Bold;font-weight: 700;text-align: right;white-space: nowrap;line-height: 1.014rem;margin-left: 0.187rem
        }
      

        .text_16 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 0.534rem;margin-top: 0.08rem
        }
      

        .group_4 {
          width: 5.92rem;margin: 0.187rem 3.014rem 0 0.534rem
        }
      

        .paragraph_1 {
          width: 1.494rem;height: 3.2rem;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 0.8rem
        }
      

        .image-text_2 {
          width: 3.734rem
        }
      

        .text-group_4 {
          width: 3.28rem;height: 3.2rem;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 0.8rem
        }
      

        .thumbnail_7 {
          width: 0.294rem;height: 0.32rem;margin: 0.24rem 0 2.64rem 0
        }
      

        .group_5 {
          background-color: rgba(242,242,242,1.000000);width: 8.4rem;height: 0.027rem;align-self: center;margin-top: 0.427rem
        }
      

        .text_17 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.534rem;margin: 0.427rem 7.44rem 0 0.534rem
        }
      

        .list_1 {
          width: 8.4rem;height: 1.76rem;align-self: center;margin-top: 0.32rem
        }
      

        .text-group_5-0 {
          background-color: rgba(250,250,250,1.000000);border-radius: 4px;margin-right: 0.267rem;padding: 0.214rem 0.907rem 0.187rem 0.32rem
        }
      

        .text_18-0 {
          width: 1.734rem;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.346rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.48rem
        }
      

        .text_19-0 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.64rem;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 0.747rem;margin: 0.134rem 0.747rem 0 0
        }
      

        .text-group_5-1 {
          background-color: rgba(250,250,250,1.000000);border-radius: 4px;margin-right: 0.267rem;padding: 0.214rem 0.907rem 0.187rem 0.32rem
        }
      

        .text_18-1 {
          width: 1.734rem;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.346rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.48rem
        }
      

        .text_19-1 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.64rem;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 0.747rem;margin: 0.134rem 0.747rem 0 0
        }
      

        .text-group_5-2 {
          background-color: rgba(250,250,250,1.000000);border-radius: 4px;margin-right: 0.267rem;padding: 0.214rem 0.907rem 0.187rem 0.32rem
        }
      

        .text_18-2 {
          width: 1.734rem;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.346rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.48rem
        }
      

        .text_19-2 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.64rem;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 0.747rem;margin: 0.134rem 0.747rem 0 0
        }
      

        .group_6 {
          background-color: rgba(242,242,242,1.000000);width: 9.467rem;height: 0.027rem;margin-top: 0.347rem
        }
      

        .group_7 {
          width: 6.667rem;margin: 0.427rem 2.267rem 0 0.534rem
        }
      

        .text-wrapper_5 {
          border-radius: 33px;border: 1px solid rgba(255,129,26,1);padding: 0.107rem 0.294rem 0.107rem 0.294rem
        }
      

        .text_20 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 0.346rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.48rem
        }
      

        .text-wrapper_6 {
          background: url(./img/SketchPng728db0762cd11491e61ae87d56f29dbc4370a1748ff73688b96c0c64af02dab1.png) 100% no-repeat;background-size: 100% 100%;padding: 0.134rem 0.32rem 0.134rem 0.32rem
        }
      

        .text_21 {
          overflow-wrap: break-word;color: rgba(255,255,255,1);font-size: 0.346rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.48rem
        }
      

        .text-wrapper_7 {
          background: url(./img/SketchPng728db0762cd11491e61ae87d56f29dbc4370a1748ff73688b96c0c64af02dab1.png) 100% no-repeat;background-size: 100% 100%;padding: 0.134rem 0.32rem 0.134rem 0.32rem
        }
      

        .text_22 {
          overflow-wrap: break-word;color: rgba(255,255,255,1);font-size: 0.346rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.48rem
        }
      

        .box_9 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;width: 9.467rem;align-self: center;margin-top: 0.374rem;padding: 0.267rem 0 0.48rem 0
        }
      

        .group_8 {
          width: 5.92rem;margin-right: 3.547rem
        }
      

        .group_9 {
          background-color: rgba(255,129,26,1.000000);border-radius: 0px 28px 28px 0px;width: 0.107rem;height: 0.48rem;margin: 0.16rem 0 0.16rem 0
        }
      

        .text_23 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.453rem;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 0.8rem
        }
      

        .group_10 {
          width: 4.694rem;margin: 0.267rem 4.294rem 0 0.48rem
        }
      

        .text-wrapper_8 {
          background-color: rgba(255,242,232,1.000000);border-radius: 4px;padding: 0.054rem 0.16rem 0.08rem 0.16rem
        }
      

        .text_24 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 0.32rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.454rem
        }
      

        .text-wrapper_9 {
          background-color: rgba(231,245,244,1.000000);border-radius: 4px;padding: 0.054rem 0.16rem 0.08rem 0.16rem
        }
      

        .text_25 {
          overflow-wrap: break-word;color: rgba(21,157,147,1);font-size: 0.32rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.454rem
        }
      

        .text-wrapper_10 {
          background-color: rgba(235,240,253,1.000000);border-radius: 4px;padding: 0.054rem 0.16rem 0.08rem 0.16rem
        }
      

        .text_26 {
          overflow-wrap: break-word;color: rgba(60,110,238,1);font-size: 0.32rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.454rem
        }
      

        .group_11 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;width: 8.4rem;align-self: center;margin-top: 0.374rem;justify-content: flex-center;padding: 0.347rem 0.374rem 0.347rem 0.374rem
        }
      

        .text-group_6 {
          
        }
      

        .text_27 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.88rem;font-family: DINAlternate-Bold;font-weight: 700;text-align: left;white-space: nowrap;line-height: 1.014rem;margin-right: 0.187rem
        }
      

        .text_28 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.534rem;margin-top: 0.107rem
        }
      

        .thumbnail_8 {
          width: 0.32rem;height: 0.107rem;margin: 0.64rem 0 0.907rem 1.094rem
        }
      

        .thumbnail_9 {
          width: 0.534rem;height: 0.107rem;margin: 0.64rem 0 0.907rem 0.107rem
        }
      

        .group_12 {
          background-color: rgba(216,216,216,0.500000);border-radius: 50%;width: 0.107rem;height: 0.107rem;margin: 0.64rem 0 0.907rem 0.107rem
        }
      

        .text-group_7 {
          margin: 0.027rem 0 0 1.174rem
        }
      

        .text_29 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.88rem;font-family: DINAlternate-Bold;font-weight: 700;text-align: right;white-space: nowrap;line-height: 1.014rem;margin-left: 0.187rem
        }
      

        .text_30 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 0.534rem;margin-top: 0.08rem
        }
      

        .group_13 {
          width: 5.92rem;margin: 0.187rem 3.014rem 0 0.534rem
        }
      

        .paragraph_2 {
          width: 1.494rem;height: 3.2rem;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 0.8rem
        }
      

        .image-text_3 {
          width: 3.734rem
        }
      

        .text-group_8 {
          width: 3.28rem;height: 3.2rem;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 0.8rem
        }
      

        .thumbnail_10 {
          width: 0.294rem;height: 0.32rem;margin: 0.24rem 0 2.64rem 0
        }
      

        .group_14 {
          background-color: rgba(242,242,242,1.000000);width: 9.467rem;height: 0.027rem;margin-top: 0.427rem
        }
      

        .text-wrapper_11 {
          border-radius: 33px;border: 1px solid rgba(255,129,26,1);margin: 0.427rem 7.6rem 0 0.534rem;padding: 0.107rem 0.294rem 0.107rem 0.294rem
        }
      

        .text_31 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 0.346rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.48rem
        }
      