
        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 375.00px;height: 1857.00px;overflow: hidden
        }
      

        .block_1 {
          background-color: rgba(255,255,255,1.000000);padding: 14px 14px 0 0
        }
      

        .group_1 {
          margin-left: 21.00px
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(0,0,0,1);font-size: 15.00px;letter-spacing: -0.30000001192092896px;font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 18.00px
        }
      

        .thumbnail_1 {
          width: 17.00px;height: 11.00px;margin: 4px 0 3px 219px
        }
      

        .thumbnail_2 {
          width: 15.00px;height: 11.00px;margin: 3px 0 4px 5px
        }
      

        .image_1 {
          width: 25.00px;height: 12.00px;margin: 3px 0 3px 5px
        }
      

        .group_2 {
          margin: 12px 1px 0 0
        }
      

        .label_1 {
          width: 40.00px;height: 44.00px
        }
      

        .text_2 {
          overflow-wrap: break-word;color: rgba(0,0,0,0.9);font-size: 18.00px;font-family: PingFangSC-Medium;font-weight: 500;text-align: center;white-space: nowrap;line-height: 18.00px;margin: 13px 0 0 94px
        }
      

        .text_3 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 20.00px;margin: 12px 0 0 90px
        }
      

        .block_2 {
          background-color: rgba(255,255,255,1.000000);margin-top: 1.00px;padding: 11px 34px 0 35px
        }
      

        .text-wrapper_1 {
          width: 306.00px
        }
      

        .text_4 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 20.00px;margin-top: 1.00px
        }
      

        .text_5 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 16.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 22.00px
        }
      

        .text_6 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 20.00px;margin-top: 1.00px
        }
      

        .block_3 {
          width: 37.00px;align-self: center;margin-top: 7.00px
        }
      

        .section_1 {
          background-color: rgba(255,129,26,1.000000);border-radius: 2px;width: 37.00px;height: 4.00px
        }
      

        .block_4 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;position: relative;width: 355.00px;align-self: center;margin-top: 14.00px;padding-bottom: 18.00px
        }
      

        .group_3 {
          background: url(./img/SketchPnge4edf23d978dd525e4f6bc575b120e6159ead733da65916dbce7fcd01fd5140e.png) 100% no-repeat;background-size: 100% 100%;padding: 18px 15px 0 15px
        }
      

        .text_7 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 16.00px;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 22.00px;margin-right: 261.00px
        }
      

        .box_1 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 17.00px
        }
      

        .group_4 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_2 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_8 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_9 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_1 {
          width: 93.00px
        }
      

        .text-group_1 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_3 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .group_5 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .text-wrapper_3 {
          width: 68.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px;margin: 15px 272px 0 15px
        }
      

        .text_10 {
          overflow-wrap: break-word;color: rgba(255,0,0,0.90);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_11 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text-wrapper_4 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;align-self: center;margin-top: 11.00px;width: 325.00px;padding: 14px 145px 41px 15px
        }
      

        .text_12 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .group_6 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 14.00px
        }
      

        .text_13 {
          overflow-wrap: break-word;color: rgba(234,117,30,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px;margin: 14px 152px 0 13px
        }
      

        .group_7 {
          width: 323.00px;margin: 10px 14px 0 18px
        }
      

        .image_2 {
          width: 1.00px;height: 177.00px;margin-bottom: 9.00px
        }
      

        .box_2 {
          margin-top: 18.00px
        }
      

        .text_14 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 20.00px;margin: 0 97px 0 5px
        }
      

        .section_2 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;margin-top: 10.00px;padding: 7px 8px 9px 22px
        }
      

        .paragraph_1 {
          width: 60.00px;height: 60.00px;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 30.00px;margin-top: 7.00px
        }
      

        .paragraph_2 {
          width: 60.00px;height: 60.00px;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 30.00px;margin: 7px 0 0 15px
        }
      

        .image_3 {
          width: 84.00px;height: 72.00px;margin-left: 62.00px
        }
      

        .text_15 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 20.00px;margin: 30px 97px 0 5px
        }
      

        .group_8 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;margin: 10px 14px 0 30px;padding: 8px 8px 8px 22px
        }
      

        .paragraph_3 {
          width: 60.00px;height: 60.00px;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 30.00px;margin-top: 6.00px
        }
      

        .paragraph_4 {
          width: 75.00px;height: 60.00px;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 30.00px;margin: 6px 0 0 15px
        }
      

        .box_3 {
          background: url(./img/SketchPng802d9baacb0f33c1fb8a385641bcb30aa4e33bba4c529360998d139bcfb2ed34.png) 0px 0px no-repeat;background-size: 85px 73px;margin-left: 47.00px;padding: 21px 16px 20px 15px
        }
      

        .text-wrapper_5 {
          background: url(./img/SketchPng7a3464540f9704d26b913443dfe37f50ede2663790c408684161faed32ad512a.png) 0px 0px no-repeat;background-size: 54px 32px;padding: 0 0 2px 1px
        }
      

        .text_16 {
          width: 52.00px;height: 29.00px;overflow-wrap: break-word;color: rgba(255,0,0,0.9);font-size: 10.00px;font-family: PingFangSC-Medium;font-weight: 500;text-align: left;line-height: 14.00px
        }
      

        .thumbnail_4 {
          position: absolute;left: 13.00px;top: 313.00px;width: 17.00px;height: 17.00px
        }
      

        .thumbnail_5 {
          position: absolute;left: 13.00px;top: 461.00px;width: 17.00px;height: 17.00px
        }
      

        .block_5 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;align-self: center;margin-top: 13.00px;width: 355.00px;position: relative;padding: 21px 11px 14px 0
        }
      

        .group_9 {
          width: 209.00px;margin-right: 135.00px
        }
      

        .box_4 {
          background-color: rgba(255,129,26,1.000000);border-radius: 0px 28px 28px 0px;width: 4.00px;height: 18.00px;margin: 2px 0 2px 0
        }
      

        .text_17 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 16.00px;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 22.00px
        }
      

        .text-wrapper_6 {
          width: 122.00px;margin: 11px 205px 0 17px
        }
      

        .text_18 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 35.00px;font-family: DINAlternate-Bold;font-weight: 700;text-align: left;white-space: nowrap;line-height: 41.00px
        }
      

        .text_19 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 12.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 17.00px;margin-top: 20.00px
        }
      

        .group_10 {
          margin: 14px 170px 0 14px
        }
      

        .block_6 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;padding: 8px 44px 9px 44px
        }
      

        .text-group_2 {
          
        }
      

        .text_20 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 22.00px;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 26.00px;align-self: center
        }
      

        .text_21 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 12.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 17.00px;margin-top: 2.00px
        }
      

        .group_11 {
          margin: 11px 0 0 14px
        }
      

        .grid_1 {
          width: 330.00px;height: 139.00px;flex-wrap: wrap
        }
      

        .text-group_3-0 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 160.00px;height: 62.00px;margin: 0 10px 15px 0;padding: 9px 44px 8px 44px
        }
      

        .text_22-0 {
          width: 22.00px;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 22.00px;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 26.00px;align-self: center
        }
      

        .text_23-0 {
          width: 108.00px;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 12.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 17.00px;margin-top: 2.00px
        }
      

        .text-group_3-1 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 160.00px;height: 62.00px;margin: 0 10px 15px 0;padding: 9px 44px 8px 44px;margin-right: 0.00
        }
      

        .text_22-1 {
          width: 22.00px;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 22.00px;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 26.00px;align-self: center
        }
      

        .text_23-1 {
          width: 108.00px;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 12.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 17.00px;margin-top: 2.00px
        }
      

        .text-group_3-2 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 160.00px;height: 62.00px;margin: 0 10px 15px 0;padding: 9px 44px 8px 44px;margin-bottom: 0.00
        }
      

        .text_22-2 {
          width: 22.00px;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 22.00px;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 26.00px;align-self: center
        }
      

        .text_23-2 {
          width: 108.00px;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 12.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 17.00px;margin-top: 2.00px
        }
      

        .text-group_3-3 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 160.00px;height: 62.00px;margin: 0 10px 15px 0;padding: 9px 44px 8px 44px;margin-right: 0.00;margin-bottom: 0.00
        }
      

        .text_22-3 {
          width: 22.00px;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 22.00px;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 26.00px;align-self: center
        }
      

        .text_23-3 {
          width: 108.00px;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 12.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 17.00px;margin-top: 2.00px
        }
      

        .group_12 {
          height: 174.00px;background: url(./img/SketchPng9af6654211d5e5688cfd60e81248f4065e254142109d390a4443662c3287e7fb.png) 100% no-repeat;background-size: 100% 100%;width: 174.00px;position: absolute;left: 174.00px;top: -2.00px;padding: 111px 4px 1px 10px
        }
      

        .box_5 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;padding: 8px 38px 9px 38px
        }
      

        .text-group_4 {
          
        }
      

        .text_24 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 22.00px;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 26.00px;align-self: center
        }
      

        .text_25 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 12.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 17.00px;margin-top: 2.00px
        }
      

        .block_7 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;position: relative;width: 355.00px;align-self: center;margin-top: 14.00px;padding-bottom: 22.00px
        }
      

        .box_6 {
          background: url(./img/SketchPng5e9206c79c0ef724fe22803e9050a10f8cd9884b39a22b274e9ab11e472915ce.png) 100% no-repeat;background-size: 100% 100%;padding: 18px 15px 0 15px
        }
      

        .text-group_5 {
          margin-right: 97.00px
        }
      

        .text_26 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 16.00px;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 22.00px;margin-right: 164.00px
        }
      

        .text_27 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 20.00px;margin-top: 5.00px
        }
      

        .group_13 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;margin-top: 14.00px
        }
      

        .text-wrapper_7 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text_28 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_29 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .box_7 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .text-wrapper_8 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text_30 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_31 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .box_8 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .text-wrapper_9 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text_32 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_33 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .box_9 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .box_10 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_10 {
          width: 123.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_34 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_35 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_36 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .box_11 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .box_12 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_11 {
          width: 173.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_37 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_38 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .image-text_2 {
          width: 33.00px
        }
      

        .text-group_6 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .thumbnail_6 {
          width: 18.00px;height: 18.00px;margin: 2px 0 1px 0
        }
      

        .box_13 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .box_14 {
          width: 325.00px;align-self: center;margin-top: 15.00px
        }
      

        .text-wrapper_12 {
          width: 93.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_39 {
          overflow-wrap: break-word;color: rgba(255,0,0,0.90);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_40 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_41 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 21.00px
        }
      

        .box_15 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 13.00px
        }
      

        .text_42 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px;margin: 15px 250px 0 15px
        }
      

        .box_16 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 108.00px
        }
      

        .box_17 {
          background-color: rgba(242,242,242,1.000000);width: 325.00px;height: 1.00px;align-self: center;margin-top: 58.00px
        }
      

        .text-wrapper_13 {
          width: 98.00px;height: 21.00px;overflow-wrap: break-word;font-size: 0.00;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px;margin: 15px 242px 0 15px
        }
      

        .text_43 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text_44 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .box_18 {
          width: 325.00px;align-self: center;margin-top: 13.00px
        }
      

        .text-wrapper_14 {
          background-color: rgba(244,244,244,1.000000);border-radius: 15px;padding: 4px 70px 5px 70px
        }
      

        .text_45 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 21.00px
        }
      

        .text-wrapper_15 {
          background-color: rgba(254,238,231,1.000000);border-radius: 15px;border: 1px solid rgba(255,129,26,1);padding: 3px 69px 4px 69px
        }
      

        .text_46 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 21.00px
        }
      

        .box_19 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;height: 140.00px;width: 325.00px;position: absolute;left: 15.00px;top: 427.00px;padding: 14px 15px 15px 15px
        }
      

        .text-wrapper_16 {
          margin-right: 250.00px
        }
      

        .text_47 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 15.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 21.00px
        }
      

        .text-wrapper_17 {
          margin: 70px 0 0 254px
        }
      

        .text_48 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 14.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 20.00px
        }
      

        .block_8 {
          background: url(./img/SketchPnge54b934e067b2fd16dc1508cdbb48721408591f35ebedb5f61284ee2a18b4aef.png) 0px -7px no-repeat;background-size: 375px 77px;padding: 15px 10px 15px 10px
        }
      

        .box_20 {
          background-color: rgba(255,255,255,1.000000);border-radius: 40px;border: 1px solid rgba(255,129,26,1);padding: 8px 148px 8px 149px
        }
      

        .image-text_3 {
          width: 56.00px
        }
      

        .thumbnail_7 {
          width: 18.00px;height: 11.00px;margin: 6px 0 5px 0
        }
      

        .text-group_7 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 16.00px;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 22.00px
        }
      