
        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 100vw;height: 216.54vw;overflow: hidden
        }
      

        .group_1 {
          background-color: rgba(255,255,255,1.000000);padding-top: 3.74vw
        }
      

        .box_1 {
          margin: 0 3.73vw 0 5.6vw
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(0,0,0,1);font-size: 4vw;letter-spacing: -0.30000001192092896px;font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.8vw
        }
      

        .thumbnail_1 {
          width: 4.54vw;height: 2.94vw;margin: 1.06vw 0 0.8vw 58.4vw
        }
      

        .thumbnail_2 {
          width: 4vw;height: 2.94vw;margin: 0.8vw 0 1.06vw 1.33vw
        }
      

        .image_1 {
          width: 6.67vw;height: 3.2vw;margin: 0.8vw 0 0.8vw 1.33vw
        }
      

        .nav-bar_1 {
          width: 100vw;margin-top: 2.4vw;padding: 0.8vw 40.26vw 0 0
        }
      

        .label_1 {
          width: 10.67vw;height: 11.74vw
        }
      

        .text_2 {
          overflow-wrap: break-word;color: rgba(0,0,0,0.9);font-size: 4.8vw;font-family: PingFangSC-Medium;font-weight: 500;text-align: center;white-space: nowrap;line-height: 4.8vw;margin-top: 3.47vw
        }
      

        .group_2 {
          position: relative;padding: 0.26vw 0 77.86vw 0
        }
      

        .tabs_1 {
          
        }
      

        .group_3 {
          width: 100vw
        }
      

        .text-wrapper_1 {
          background-color: rgba(255,255,255,1.000000);padding: 3.2vw 9.06vw 3.2vw 9.33vw
        }
      

        .text_3 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.34vw
        }
      

        .text-wrapper_2 {
          background-color: rgba(255,255,255,1.000000);padding: 3.2vw 9.06vw 3.2vw 9.33vw
        }
      

        .text_4 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.34vw
        }
      

        .group_4 {
          background-color: rgba(255,255,255,1.000000);padding: 2.93vw 8vw 0 8.26vw
        }
      

        .text_5 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4.26vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.87vw
        }
      

        .group_5 {
          background-color: rgba(255,129,26,1.000000);border-radius: 2px;width: 9.87vw;height: 1.07vw;margin: 1.86vw 3.73vw 0 3.46vw
        }
      

        .image_2 {
          width: 0.27vw;height: 60vw;margin: -1.33vw 94.66vw 0 5.06vw
        }
      

        .text_6 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.34vw;margin: -55.46vw 34.66vw 0 9.6vw
        }
      

        .group_6 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;margin: 2.93vw 3.73vw 0 8.8vw;padding: 3.73vw 2.13vw 3.73vw 5.33vw
        }
      

        .paragraph_1 {
          width: 16vw;height: 32vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 8vw
        }
      

        .paragraph_2 {
          width: 16vw;height: 32vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 8vw;margin-left: 4vw
        }
      

        .image_3 {
          width: 22.4vw;height: 19.2vw;margin: 6.13vw 0 6.66vw 21.6vw
        }
      

        .text_7 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.34vw;margin: 5.06vw 34.66vw 0 9.6vw
        }
      

        .group_7 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;margin: 2.66vw 3.73vw 0 8.8vw;padding: 3.73vw 2.13vw 3.73vw 5.33vw
        }
      

        .paragraph_3 {
          width: 16vw;height: 32vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 8vw
        }
      

        .paragraph_4 {
          width: 20vw;height: 32vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 8vw;margin-left: 4vw
        }
      

        .group_8 {
          background: url(./img/SketchPng037a5a76a89dc67bfb2a70534de327ed216428b3b584bc113aa2448d72cf5e71.png) 0vw -0.27vw no-repeat;background-size: 22.66vw 19.46vw;margin: 6.4vw 0 6.4vw 17.6vw;padding: 5.6vw 4.26vw 5.33vw 4vw
        }
      

        .text-wrapper_3 {
          background: url(./img/SketchPngcd0ec39e2818988fb119091f1bc206bff3605bb986386db33c507f5ef755ba01.png) 0vw -0.27vw no-repeat;background-size: 14.4vw 8.53vw;padding: 0 0 0.53vw 0.26vw
        }
      

        .text_8 {
          width: 13.87vw;height: 7.74vw;overflow-wrap: break-word;color: rgba(255,0,0,0.9);font-size: 2.66vw;font-family: PingFangSC-Medium;font-weight: 500;text-align: left;line-height: 3.74vw
        }
      

        .thumbnail_3 {
          position: absolute;left: 3.74vw;top: 16.27vw;width: 2.94vw;height: 2.94vw
        }
      

        .thumbnail_4 {
          position: absolute;left: 3.74vw;top: 69.07vw;width: 2.94vw;height: 2.94vw
        }
      