
    html {
      font-size:37.5px
    }
  

        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 10rem;height: 21.654rem;overflow: hidden
        }
      

        .section_1 {
          background-color: rgba(255,255,255,1.000000);padding: 0.374rem 0.374rem 0 0
        }
      

        .box_1 {
          margin-left: 0.56rem
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(0,0,0,1);font-size: 0.4rem;letter-spacing: -0.30000001192092896px;font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.48rem
        }
      

        .thumbnail_1 {
          width: 0.454rem;height: 0.294rem;margin: 0.107rem 0 0.08rem 5.84rem
        }
      

        .thumbnail_2 {
          width: 0.4rem;height: 0.294rem;margin: 0.08rem 0 0.107rem 0.134rem
        }
      

        .image_1 {
          width: 0.667rem;height: 0.32rem;margin: 0.08rem 0 0.08rem 0.134rem
        }
      

        .box_2 {
          width: 6.454rem;margin: 0.32rem 3.174rem 0 0
        }
      

        .label_1 {
          width: 1.067rem;height: 1.174rem
        }
      

        .text_2 {
          overflow-wrap: break-word;color: rgba(0,0,0,0.9);font-size: 0.48rem;font-family: PingFangSC-Medium;font-weight: 500;text-align: center;white-space: nowrap;line-height: 0.48rem;margin-top: 0.347rem
        }
      

        .section_2 {
          background-color: rgba(255,255,255,1.000000);margin-top: 0.027rem;padding: 0.294rem 0.534rem 0 0.934rem
        }
      

        .text-wrapper_1 {
          
        }
      

        .text_3 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.534rem;margin-top: 0.027rem
        }
      

        .text_4 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.426rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.587rem;margin-left: 1.307rem
        }
      

        .text_5 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.534rem;margin: 0.027rem 0 0 0.934rem
        }
      

        .box_3 {
          margin: 0.187rem 3.974rem 0 3.574rem
        }
      

        .block_1 {
          background-color: rgba(255,129,26,1.000000);border-radius: 2px;width: 0.987rem;height: 0.107rem
        }
      

        .section_3 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;align-self: center;margin-top: 0.4rem;width: 9.467rem;position: relative;padding: 0.56rem 0.294rem 0.374rem 0
        }
      

        .section_4 {
          width: 5.574rem;margin-right: 3.6rem
        }
      

        .group_1 {
          background-color: rgba(255,129,26,1.000000);border-radius: 0px 28px 28px 0px;width: 0.107rem;height: 0.48rem;margin: 0.054rem 0 0.054rem 0
        }
      

        .text_6 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.426rem;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 0.587rem
        }
      

        .text-wrapper_2 {
          width: 3.254rem;margin: 0.294rem 5.467rem 0 0.454rem
        }
      

        .text_7 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.933rem;font-family: DINAlternate-Bold;font-weight: 700;text-align: left;white-space: nowrap;line-height: 1.094rem
        }
      

        .text_8 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.32rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.454rem;margin-top: 0.534rem
        }
      

        .section_5 {
          margin: 0.374rem 4.534rem 0 0.374rem
        }
      

        .block_2 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;padding: 0.214rem 1.174rem 0.24rem 1.174rem
        }
      

        .text-group_1 {
          
        }
      

        .text_9 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.586rem;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 0.694rem;align-self: center
        }
      

        .text_10 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.32rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.454rem;margin-top: 0.054rem
        }
      

        .section_6 {
          margin: 0.294rem 0 0 0.374rem
        }
      

        .grid_1 {
          width: 8.8rem;height: 3.707rem;flex-wrap: wrap
        }
      

        .text-group_2-0 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 4.267rem;height: 1.654rem;margin: 0 0.267rem 0.4rem 0;padding: 0.24rem 1.174rem 0.214rem 1.174rem
        }
      

        .text_11-0 {
          width: 0.587rem;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.586rem;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 0.694rem;align-self: center
        }
      

        .text_12-0 {
          width: 2.88rem;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.32rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.454rem;margin-top: 0.054rem
        }
      

        .text-group_2-1 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 4.267rem;height: 1.654rem;margin: 0 0.267rem 0.4rem 0;padding: 0.24rem 1.174rem 0.214rem 1.174rem;margin-right: 0
        }
      

        .text_11-1 {
          width: 0.587rem;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.586rem;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 0.694rem;align-self: center
        }
      

        .text_12-1 {
          width: 2.88rem;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.32rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.454rem;margin-top: 0.054rem
        }
      

        .text-group_2-2 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 4.267rem;height: 1.654rem;margin: 0 0.267rem 0.4rem 0;padding: 0.24rem 1.174rem 0.214rem 1.174rem;margin-bottom: 0
        }
      

        .text_11-2 {
          width: 0.587rem;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.586rem;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 0.694rem;align-self: center
        }
      

        .text_12-2 {
          width: 2.88rem;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.32rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.454rem;margin-top: 0.054rem
        }
      

        .text-group_2-3 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;width: 4.267rem;height: 1.654rem;margin: 0 0.267rem 0.4rem 0;padding: 0.24rem 1.174rem 0.214rem 1.174rem;margin-right: 0;margin-bottom: 0
        }
      

        .text_11-3 {
          width: 0.587rem;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.586rem;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 0.694rem;align-self: center
        }
      

        .text_12-3 {
          width: 2.88rem;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.32rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.454rem;margin-top: 0.054rem
        }
      

        .section_7 {
          height: 4.64rem;background: url(./img/SketchPng9af6654211d5e5688cfd60e81248f4065e254142109d390a4443662c3287e7fb.png) 100% no-repeat;background-size: 100% 100%;width: 4.64rem;position: absolute;left: 4.64rem;top: -0.053rem;padding: 2.96rem 0.107rem 0.027rem 0.267rem
        }
      

        .section_8 {
          background-color: rgba(243,245,246,1.000000);border-radius: 4px;padding: 0.214rem 1.014rem 0.24rem 1.014rem
        }
      

        .text-group_3 {
          
        }
      

        .text_13 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.586rem;font-family: DINAlternate-Bold;font-weight: 700;text-align: center;white-space: nowrap;line-height: 0.694rem;align-self: center
        }
      

        .text_14 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.32rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.454rem;margin-top: 0.054rem
        }
      

        .section_9 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;position: relative;width: 9.467rem;align-self: center;margin-top: 0.374rem
        }
      

        .box_4 {
          background: url(./img/SketchPng5e9206c79c0ef724fe22803e9050a10f8cd9884b39a22b274e9ab11e472915ce.png) 100% no-repeat;background-size: 100% 100%;padding: 0.48rem 0.4rem 0 0.4rem
        }
      

        .text-group_4 {
          margin-right: 2.587rem
        }
      

        .text_15 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.426rem;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 0.587rem;margin-right: 4.374rem
        }
      

        .text_16 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.534rem;margin-top: 0.134rem
        }
      

        .group_2 {
          background-color: rgba(242,242,242,1.000000);width: 8.667rem;height: 0.027rem;margin-top: 0.374rem
        }
      

        .text-wrapper_3 {
          width: 8.667rem;align-self: center;margin-top: 0.4rem
        }
      

        .text_17 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .text_18 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .box_5 {
          background-color: rgba(242,242,242,1.000000);width: 8.667rem;height: 0.027rem;align-self: center;margin-top: 0.347rem
        }
      

        .text-wrapper_4 {
          width: 8.667rem;align-self: center;margin-top: 0.4rem
        }
      

        .text_19 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .text_20 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .box_6 {
          background-color: rgba(242,242,242,1.000000);width: 8.667rem;height: 0.027rem;align-self: center;margin-top: 0.347rem
        }
      

        .text-wrapper_5 {
          width: 8.667rem;align-self: center;margin-top: 0.4rem
        }
      

        .text_21 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .text_22 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .box_7 {
          background-color: rgba(242,242,242,1.000000);width: 8.667rem;height: 0.027rem;align-self: center;margin-top: 0.347rem
        }
      

        .box_8 {
          width: 8.667rem;align-self: center;margin-top: 0.4rem
        }
      

        .text-wrapper_6 {
          width: 3.28rem;height: 0.56rem;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .text_23 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .text_24 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .text_25 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .box_9 {
          background-color: rgba(242,242,242,1.000000);width: 8.667rem;height: 0.027rem;align-self: center;margin-top: 0.347rem
        }
      

        .box_10 {
          width: 8.667rem;align-self: center;margin-top: 0.4rem
        }
      

        .text-wrapper_7 {
          width: 4.614rem;height: 0.534rem;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .text_26 {
          height: 0.534rem;overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .text_27 {
          height: 0.534rem;overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .text_28 {
          height: 0.534rem;overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem;margin-left: 3.174rem
        }
      

        .thumbnail_3 {
          width: 0.48rem;height: 0.48rem;margin-top: 0.054rem
        }
      

        .box_11 {
          box-shadow: 0px -3px 4px 0px rgba(0,0,0,0.050000);background-color: rgba(255,255,255,1.000000);position: absolute;left: -0.266rem;top: 6.534rem;width: 10rem;height: 1.867rem;padding: 0.4rem 0.267rem 0.4rem 0.587rem
        }
      

        .image-text_1 {
          width: 1.574rem;margin: 0.24rem 0 0.24rem 0
        }
      

        .thumbnail_4 {
          width: 0.48rem;height: 0.534rem;margin-bottom: 0.054rem
        }
      

        .text-group_5 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 0.426rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.587rem
        }
      

        .text-wrapper_8 {
          background: url(./img/SketchPng06fb8296548abeeabc503394f1871d03d27c998b93c3cde9c26f00f9ccc980f4.png) 100% no-repeat;background-size: 100% 100%;padding: 0.24rem 3.014rem 0.24rem 3.014rem
        }
      

        .text_29 {
          overflow-wrap: break-word;color: rgba(255,255,255,1);font-size: 0.426rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.587rem
        }
      