
    html {
      font-size:37.5px
    }
  

        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 10rem;height: 21.654rem;overflow: hidden
        }
      

        .block_1 {
          background-color: rgba(255,255,255,1.000000);padding-top: 0.374rem
        }
      

        .box_1 {
          margin: 0 0.374rem 0 0.56rem
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(0,0,0,1);font-size: 0.4rem;letter-spacing: -0.30000001192092896px;font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.48rem
        }
      

        .thumbnail_1 {
          width: 0.454rem;height: 0.294rem;margin: 0.107rem 0 0.08rem 5.84rem
        }
      

        .thumbnail_2 {
          width: 0.4rem;height: 0.294rem;margin: 0.08rem 0 0.107rem 0.134rem
        }
      

        .image_1 {
          width: 0.667rem;height: 0.32rem;margin: 0.08rem 0 0.08rem 0.134rem
        }
      

        .nav-bar_1 {
          width: 10rem;margin-top: 0.24rem;padding: 0.08rem 4.027rem 0 0
        }
      

        .label_1 {
          width: 1.067rem;height: 1.174rem
        }
      

        .text_2 {
          overflow-wrap: break-word;color: rgba(0,0,0,0.9);font-size: 0.48rem;font-family: PingFangSC-Medium;font-weight: 500;text-align: center;white-space: nowrap;line-height: 0.48rem;margin-top: 0.347rem
        }
      

        .block_2 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;width: 9.467rem;align-self: center;margin-top: 0.347rem;padding: 0.4rem 0.4rem 10.267rem 0.4rem
        }
      

        .text-wrapper_1 {
          width: 8.667rem
        }
      

        .text_3 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .text_4 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 0.56rem
        }
      

        .box_2 {
          background-color: rgba(242,242,242,1.000000);width: 8.667rem;height: 0.027rem;margin-top: 0.347rem
        }
      

        .box_3 {
          width: 8.667rem;margin-top: 0.4rem
        }
      

        .text_5 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .image-text_1 {
          width: 1.68rem
        }
      

        .text-group_1 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 0.56rem
        }
      

        .thumbnail_3 {
          width: 0.48rem;height: 0.48rem;margin: 0.054rem 0 0.027rem 0
        }
      

        .box_4 {
          background-color: rgba(242,242,242,1.000000);width: 8.667rem;height: 0.027rem;margin-top: 0.347rem
        }
      

        .box_5 {
          width: 8.667rem;margin-top: 0.4rem
        }
      

        .text_6 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .image-text_2 {
          width: 1.68rem
        }
      

        .text-group_2 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 0.56rem
        }
      

        .thumbnail_4 {
          width: 0.48rem;height: 0.48rem;margin: 0.054rem 0 0.027rem 0
        }
      

        .box_6 {
          background-color: rgba(242,242,242,1.000000);width: 8.667rem;height: 0.027rem;margin-top: 0.347rem
        }
      

        .box_7 {
          width: 8.667rem;margin-top: 0.4rem
        }
      

        .text_7 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .image-text_3 {
          width: 1.68rem
        }
      

        .text-group_3 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 0.56rem
        }
      

        .thumbnail_5 {
          width: 0.48rem;height: 0.48rem;margin: 0.054rem 0 0.027rem 0
        }
      

        .box_8 {
          background-color: rgba(242,242,242,1.000000);width: 8.667rem;height: 0.027rem;margin-top: 0.347rem
        }
      

        .text-wrapper_2 {
          width: 8.667rem;margin-top: 0.4rem
        }
      

        .text_8 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .text_9 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 0.56rem
        }
      

        .box_9 {
          background-color: rgba(242,242,242,1.000000);width: 8.667rem;height: 0.027rem;margin-top: 0.347rem
        }
      

        .block_3 {
          padding: 0.454rem 0.267rem 0.534rem 0.267rem
        }
      

        .section_1 {
          width: 9.467rem
        }
      

        .button_1 {
          background-color: rgba(255,255,255,1.000000);border-radius: 40px;border: 1px solid rgba(255,129,26,1);padding: 0.214rem 1.894rem 0.214rem 1.84rem
        }
      

        .text_10 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 0.426rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.587rem
        }
      

        .button_2 {
          background-image: linear-gradient(90deg, rgba(254,199,117,1.000000) 0, rgba(255,129,26,1.000000) 100.000000%);border-radius: 40px;padding: 0.214rem 1.867rem 0.214rem 1.867rem
        }
      

        .text_11 {
          overflow-wrap: break-word;color: rgba(255,255,255,1);font-size: 0.426rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.587rem
        }
      