
    html {
      font-size:37.5px
    }
  

        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 10rem;height: 21.654rem;overflow: hidden
        }
      

        .section_1 {
          background-color: rgba(255,255,255,1.000000);padding: 0.374rem 0.374rem 0 0
        }
      

        .group_1 {
          margin-left: 0.56rem
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(0,0,0,1);font-size: 0.4rem;letter-spacing: -0.30000001192092896px;font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.48rem
        }
      

        .thumbnail_1 {
          width: 0.454rem;height: 0.294rem;margin: 0.107rem 0 0.08rem 5.84rem
        }
      

        .thumbnail_2 {
          width: 0.4rem;height: 0.294rem;margin: 0.08rem 0 0.107rem 0.134rem
        }
      

        .image_1 {
          width: 0.667rem;height: 0.32rem;margin: 0.08rem 0 0.08rem 0.134rem
        }
      

        .group_2 {
          width: 5.974rem;margin: 0.32rem 3.654rem 0 0
        }
      

        .label_1 {
          width: 1.067rem;height: 1.174rem
        }
      

        .text_2 {
          overflow-wrap: break-word;color: rgba(0,0,0,0.9);font-size: 0.48rem;font-family: PingFangSC-Medium;font-weight: 500;text-align: center;white-space: nowrap;line-height: 0.48rem;margin-top: 0.347rem
        }
      

        .section_2 {
          position: relative;padding: 0.027rem 0 6.054rem 0
        }
      

        .block_1 {
          background-color: rgba(255,255,255,1.000000);padding: 0.427rem 3.574rem 0.507rem 0
        }
      

        .group_3 {
          width: 5.92rem;margin-right: 0.507rem
        }
      

        .block_2 {
          background-color: rgba(255,129,26,1.000000);border-radius: 0px 28px 28px 0px;width: 0.107rem;height: 0.48rem;margin: 0.16rem 0 0.16rem 0
        }
      

        .text_3 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.453rem;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 0.8rem
        }
      

        .group_4 {
          width: 5.947rem;margin: 0.267rem 0 0 0.48rem
        }
      

        .paragraph_1 {
          width: 1.867rem;height: 1.6rem;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 0.8rem
        }
      

        .image-text_1 {
          width: 3.76rem
        }
      

        .text-group_1 {
          width: 3.28rem;height: 1.6rem;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 0.8rem
        }
      

        .thumbnail_3 {
          width: 0.294rem;height: 0.32rem;margin: 0.24rem 0 1.04rem 0
        }
      

        .block_3 {
          width: 10rem;margin-top: 0.027rem
        }
      

        .text-wrapper_1 {
          background-color: rgba(255,255,255,1.000000);padding: 0.32rem 1.76rem 0.32rem 1.76rem
        }
      

        .text_4 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.534rem
        }
      

        .group_5 {
          background-color: rgba(255,255,255,1.000000);padding: 0.294rem 1.2rem 0 1.227rem
        }
      

        .text_5 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.426rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.587rem
        }
      

        .group_6 {
          background-color: rgba(255,129,26,1.000000);border-radius: 2px;width: 0.987rem;height: 0.107rem;margin: 0.187rem 0.8rem 0 0.774rem
        }
      

        .block_4 {
          width: 9.12rem;margin: 0 0.374rem 0 0.507rem
        }
      

        .image_2 {
          width: 0.027rem;height: 4.987rem;margin-bottom: 0.267rem
        }
      

        .group_7 {
          margin-top: 0.454rem
        }
      

        .text_6 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.534rem;margin: 0 3.094rem 0 0.08rem
        }
      

        .block_5 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;margin-top: 0.267rem;padding: 0.374rem 0.214rem 0.16rem 0.534rem
        }
      

        .paragraph_2 {
          width: 1.6rem;height: 2.4rem;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 0.8rem
        }
      

        .paragraph_3 {
          width: 1.6rem;height: 2.4rem;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 0.8rem;margin-left: 0.4rem
        }
      

        .image_3 {
          width: 2.24rem;height: 1.92rem;margin: 0.134rem 0 0.347rem 2.16rem
        }
      

        .text_7 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.534rem;margin: 0.534rem 3.094rem 0 0.08rem
        }
      

        .block_6 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;margin: 0.267rem 0.374rem 0 0.88rem;padding: 0.374rem 0.214rem 0.16rem 0.534rem
        }
      

        .paragraph_4 {
          width: 1.6rem;height: 2.4rem;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 0.8rem
        }
      

        .paragraph_5 {
          width: 2rem;height: 2.4rem;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 0.8rem;margin-left: 0.4rem
        }
      

        .group_8 {
          background: url(./img/SketchPng802d9baacb0f33c1fb8a385641bcb30aa4e33bba4c529360998d139bcfb2ed34.png) 0rem 0rem no-repeat;background-size: 2.267rem 1.947rem;margin: 0.214rem 0 0.267rem 1.76rem;padding: 0.56rem 0.427rem 0.534rem 0.4rem
        }
      

        .text-wrapper_2 {
          background: url(./img/SketchPng7a3464540f9704d26b913443dfe37f50ede2663790c408684161faed32ad512a.png) 0rem 0rem no-repeat;background-size: 1.44rem 0.854rem;padding: 0 0 0.054rem 0.027rem
        }
      

        .text_8 {
          width: 1.387rem;height: 0.774rem;overflow-wrap: break-word;color: rgba(255,0,0,0.9);font-size: 0.266rem;font-family: PingFangSC-Medium;font-weight: 500;text-align: left;line-height: 0.374rem
        }
      

        .thumbnail_4 {
          position: absolute;left: 0.374rem;top: 5.387rem;width: 0.454rem;height: 0.454rem
        }
      

        .thumbnail_5 {
          position: absolute;left: 0.374rem;top: 9.707rem;width: 0.454rem;height: 0.454rem
        }
      