
        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 100vw;height: 216.54vw;overflow: hidden
        }
      

        .section_1 {
          background-color: rgba(255,255,255,1.000000);padding: 3.73vw 3.73vw 0 0
        }
      

        .group_1 {
          margin-left: 5.6vw
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(0,0,0,1);font-size: 4vw;letter-spacing: -0.30000001192092896px;font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 4.8vw
        }
      

        .thumbnail_1 {
          width: 4.54vw;height: 2.94vw;margin: 1.06vw 0 0.8vw 58.4vw
        }
      

        .thumbnail_2 {
          width: 4vw;height: 2.94vw;margin: 0.8vw 0 1.06vw 1.33vw
        }
      

        .image_1 {
          width: 6.67vw;height: 3.2vw;margin: 0.8vw 0 0.8vw 1.33vw
        }
      

        .group_2 {
          width: 59.74vw;margin: 3.2vw 36.53vw 0 0
        }
      

        .label_1 {
          width: 10.67vw;height: 11.74vw
        }
      

        .text_2 {
          overflow-wrap: break-word;color: rgba(0,0,0,0.9);font-size: 4.8vw;font-family: PingFangSC-Medium;font-weight: 500;text-align: center;white-space: nowrap;line-height: 4.8vw;margin-top: 3.47vw
        }
      

        .section_2 {
          position: relative;padding: 0.26vw 0 60.53vw 0
        }
      

        .block_1 {
          background-color: rgba(255,255,255,1.000000);padding: 4.26vw 35.73vw 5.06vw 0
        }
      

        .group_3 {
          width: 59.2vw;margin-right: 5.07vw
        }
      

        .block_2 {
          background-color: rgba(255,129,26,1.000000);border-radius: 0px 28px 28px 0px;width: 1.07vw;height: 4.8vw;margin: 1.6vw 0 1.6vw 0
        }
      

        .text_3 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4.53vw;font-family: PingFangSC-Semibold;font-weight: 600;text-align: left;white-space: nowrap;line-height: 8vw
        }
      

        .group_4 {
          width: 59.47vw;margin: 2.66vw 0 0 4.8vw
        }
      

        .paragraph_1 {
          width: 18.67vw;height: 16vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 8vw
        }
      

        .image-text_1 {
          width: 37.6vw
        }
      

        .text-group_1 {
          width: 32.8vw;height: 16vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 8vw
        }
      

        .thumbnail_3 {
          width: 2.94vw;height: 3.2vw;margin: 2.4vw 0 10.4vw 0
        }
      

        .block_3 {
          width: 100vw;margin-top: 0.27vw
        }
      

        .text-wrapper_1 {
          background-color: rgba(255,255,255,1.000000);padding: 3.2vw 17.6vw 3.2vw 17.6vw
        }
      

        .text_4 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.34vw
        }
      

        .group_5 {
          background-color: rgba(255,255,255,1.000000);padding: 2.93vw 12vw 0 12.26vw
        }
      

        .text_5 {
          text-shadow: inset 0px 1px 3px rgba(0,0,0,0.500000);overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4.26vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 5.87vw
        }
      

        .group_6 {
          background-color: rgba(255,129,26,1.000000);border-radius: 2px;width: 9.87vw;height: 1.07vw;margin: 1.86vw 8vw 0 7.73vw
        }
      

        .block_4 {
          width: 91.2vw;margin: 0 3.73vw 0 5.06vw
        }
      

        .image_2 {
          width: 0.27vw;height: 49.87vw;margin-bottom: 2.67vw
        }
      

        .group_7 {
          margin-top: 4.54vw
        }
      

        .text_6 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.34vw;margin: 0 30.93vw 0 0.8vw
        }
      

        .block_5 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;margin-top: 2.67vw;padding: 3.73vw 2.13vw 1.6vw 5.33vw
        }
      

        .paragraph_2 {
          width: 16vw;height: 24vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 8vw
        }
      

        .paragraph_3 {
          width: 16vw;height: 24vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 8vw;margin-left: 4vw
        }
      

        .image_3 {
          width: 22.4vw;height: 19.2vw;margin: 1.33vw 0 3.46vw 21.6vw
        }
      

        .text_7 {
          overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 3.73vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 5.34vw;margin: 5.33vw 30.93vw 0 0.8vw
        }
      

        .block_6 {
          background-color: rgba(255,255,255,1.000000);border-radius: 8px;margin: 2.66vw 3.73vw 0 8.8vw;padding: 3.73vw 2.13vw 1.6vw 5.33vw
        }
      

        .paragraph_4 {
          width: 16vw;height: 24vw;overflow-wrap: break-word;color: rgba(102,102,102,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 8vw
        }
      

        .paragraph_5 {
          width: 20vw;height: 24vw;overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 4vw;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;line-height: 8vw;margin-left: 4vw
        }
      

        .group_8 {
          background: url(./img/SketchPng802d9baacb0f33c1fb8a385641bcb30aa4e33bba4c529360998d139bcfb2ed34.png) 0vw 0vw no-repeat;background-size: 22.66vw 19.46vw;margin: 2.13vw 0 2.66vw 17.6vw;padding: 5.6vw 4.26vw 5.33vw 4vw
        }
      

        .text-wrapper_2 {
          background: url(./img/SketchPng7a3464540f9704d26b913443dfe37f50ede2663790c408684161faed32ad512a.png) 0vw 0vw no-repeat;background-size: 14.4vw 8.53vw;padding: 0 0 0.53vw 0.26vw
        }
      

        .text_8 {
          width: 13.87vw;height: 7.74vw;overflow-wrap: break-word;color: rgba(255,0,0,0.9);font-size: 2.66vw;font-family: PingFangSC-Medium;font-weight: 500;text-align: left;line-height: 3.74vw
        }
      

        .thumbnail_4 {
          position: absolute;left: 3.74vw;top: 53.87vw;width: 4.54vw;height: 4.54vw
        }
      

        .thumbnail_5 {
          position: absolute;left: 3.74vw;top: 97.07vw;width: 4.54vw;height: 4.54vw
        }
      