
    html {
      font-size:37.5px
    }
  

        .page {
          background-color: rgba(241,243,246,1.000000);position: relative;width: 10rem;height: 21.654rem;overflow: hidden
        }
      

        .group_1 {
          background: url(./img/SketchPng3c0535782d287a18ce41739b6de3ec7c86cd78e925769055a4a6b8e58df8c5f2.png) 100% no-repeat;background-size: 100% 100%
        }
      

        .box_1 {
          background-color: rgba(0,0,0,0.510000);padding-top: 12.027rem
        }
      

        .box_2 {
          background-color: rgba(255,255,255,1.000000);border-radius: 16px 16px 0px 0px;position: relative;padding: 0.454rem 0.267rem 0.507rem 0.267rem
        }
      

        .text-wrapper_1 {
          width: 1.814rem;height: 0.56rem;overflow-wrap: break-word;font-size: 0;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem;margin: 0 7.254rem 0 0.4rem
        }
      

        .text_1 {
          overflow-wrap: break-word;color: rgba(255,0,0,1.000000);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .text_2 {
          overflow-wrap: break-word;color: rgba(51,51,51,1.000000);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .block_1 {
          width: 8.187rem;margin: 0.347rem 0.88rem 0 0.4rem
        }
      

        .text-wrapper_2 {
          background-color: rgba(244,244,244,1.000000);border-radius: 15px;margin-bottom: 0.054rem;padding: 0.107rem 1.467rem 0.134rem 1.467rem
        }
      

        .text_3 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.56rem
        }
      

        .text_4 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 0.56rem;margin-top: 0.294rem
        }
      

        .block_2 {
          background-color: rgba(242,242,242,1.000000);width: 8.667rem;height: 0.027rem;align-self: center;margin-top: 0.347rem
        }
      

        .text_5 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem;margin: 0.427rem 7.467rem 0 0.4rem
        }
      

        .block_3 {
          background-color: rgba(250,250,250,1.000000);border-radius: 8px;align-self: center;margin-top: 0.294rem;width: 8.667rem;padding: 0.374rem 0.4rem 0.4rem 0.4rem
        }
      

        .text-wrapper_3 {
          margin-right: 6.667rem
        }
      

        .text_6 {
          overflow-wrap: break-word;color: rgba(153,153,153,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: left;white-space: nowrap;line-height: 0.56rem
        }
      

        .text-wrapper_4 {
          margin: 1.867rem 0 0 6.774rem
        }
      

        .text_7 {
          overflow-wrap: break-word;color: rgba(51,51,51,1);font-size: 0.373rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: right;white-space: nowrap;line-height: 0.534rem
        }
      

        .block_4 {
          background-color: rgba(242,242,242,1.000000);width: 8.667rem;height: 0.027rem;align-self: center;margin-top: 0.427rem
        }
      

        .button_1 {
          background-image: linear-gradient(90deg, rgba(254,199,117,1.000000) 0, rgba(255,129,26,1.000000) 100.000000%);border-radius: 40px;padding: 0.214rem 4.267rem 0.214rem 4.294rem
        }
      

        .text_8 {
          overflow-wrap: break-word;color: rgba(255,255,255,1);font-size: 0.426rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.587rem
        }
      

        .text-wrapper_5 {
          background-color: rgba(254,238,231,1.000000);border-radius: 15px;height: 0.8rem;border: 1px solid rgba(255,129,26,1);width: 4.16rem;position: absolute;left: 5.174rem;top: 1.36rem;padding: 0.08rem 1.654rem 0.107rem 1.654rem
        }
      

        .text_9 {
          overflow-wrap: break-word;color: rgba(255,129,26,1);font-size: 0.4rem;font-family: PingFangSC-Regular;font-weight: NaN;text-align: center;white-space: nowrap;line-height: 0.56rem
        }
      